[2012-11-25 03:47] pr0vieh opened #1 "Timestamps to graphs"
Hi,

i have a suggestion...
you can add a timestap on graphs to recorded the actuality of the graphs

greets pr0vieh

[2013-01-12 22:46] graysky2 opened #2 "fans graph in lmsensors messed up"
False alarm.  Not a problem with your code.  Fixed.  Plz close.

[2013-01-13 10:40] graysky2 opened #4 "3.0.0 beta 1 seems to be ignoring hostname variable"
The hostname is set to my server's hostname in /etc/monitorix.conf but neither the front page nor the details page shows it.  Instead, it shows "localhost" in both.

[2013-01-14 12:15] #2 closed, assigned to nobody

[2013-01-14 15:50] #4 closed, assigned to nobody

[2013-01-15 22:24] graysky2 opened #5 "localhost bug on http://localhost/monitorix/"
When viewing http://localhost/monitorix, the pull down that lists various hosts should contain the hostname rather than localhost, shouldn't it?

[2013-01-16 09:35] #5 closed, assigned to nobody

[2013-02-18 17:32] Altegras opened #6 "MYSQL GRAPH - Error"
Hello,

Great project ! I'm using it from few years ago ... on all my servers.

There is a minor bug in /usr/bin/monitorix - if you take mysql statistics and connecting via socket, it returns:

DBI connect('mysql_socket=/var/run/mysqld/mysqld.sock','HASH(0x2b5d0d8)',...) failed: Access denied for user 'HASH(0x2b5d0d8)'@'localhost' (using password: NO) at /usr/bin/monitorix line 4475

That line it'

[2013-02-18 19:56] #6 closed, assigned to nobody

[2013-02-19 10:39] X-dark opened #7 "Filesystem usage: order dependent mapping"
With 3.0, it seems the order I list my mount points in the fs section change the mapping made by Monitorix.

The fs section look like this:

[code]

df output looks like this:

[code]

Below is the resulting graph with 2.6.0, then I switched to 3.0 with 3 different list orders:

[code]

![fs01 1hour](https://f.cloud.github.com/assets/533161/170872/537ab20a-7a80-11e2-8c1f-8dbc6004c29c.png)

[2013-02-20 14:50] #7 closed, assigned to nobody

[2013-02-23 15:39] DerFlob opened #8 "GPU temperature of non-nvidia cards"
The temperature sensor of my ati graphics card can be displayed by lm_sensors. Unfortunately, monitorix doesn't allow to set the gpu-keys to anything different than nvidia.
For an older version I quickly hacked something together by basically copying the logic for the cpu-keys and adopting it for the gpu, which worked perfectly.
It would be nice, if that would be a feature that is in monitorix by

[2013-03-29 17:05] supernrm opened #9 "BIND stop working"
After 15 min. of working stats from BIND, monitorix stop make graphs.

Fri Mar 29 17:59:00 2013 - main::ALRM_handler: bind_update(): Can't use string ("ANY") as a HASH ref while "strict refs" in use at /usr/lib/monitorix/bind.pm line 273.

Fri Mar 29 18:00:01 2013 - main::ALRM_handler: bind_update(): Can't use string ("ANY") as a HASH ref while "strict refs" in use at /usr/lib/monitorix/bind.pm li

[2013-04-07 21:28] graysky2 opened #10 "Official support of Raspberry Pi sensors possible?"
Is it possible for you to include support for the Raspberry Pi in the existing CPU temp and voltage plots?

The raspberry pi firmware comes with a util to generate these data which is by default installed to: `/opt/vc/bin/vcgencmd`
### CPU

[code]
### CPU Voltage

[code]

Thanks for the consideration!

[2013-04-09 13:34] #8 closed, assigned to nobody

[2013-04-24 21:41] ethanpil opened #11 "Missing Monthly Section in conf"
Hi,

I followed the basic instructions and installed RPM from rpm -ivh http://www.monitorix.org/monitorix-n.n.n-1.noarch.rpm

As I am going through my /etc/monitorix.conf and comparing to http://www.monitorix.org/documentation.html#33

I see you dont have the monthly section defined in the sample conf. I also checked the master repo conf file and its also missing.

Am I missing something?

Thanks

[2013-04-28 19:52] wuffleton opened #12 "Supported RAID controller with smartctl argument in disk module returns no data"
Hi! I threw monitorix on my server a couple weeks ago, and just noticed that the disk module is behaving inconsistently with the FAQ page. It states that I can use my RAID controller and its respective disks if it is supported by smartctl by supplying the appropriate argument for smartctl along with my controller's device. However, my monitorix log file reports that the device is invalid. It's run

[2013-04-30 10:16] #12 closed, assigned to nobody

[2013-05-07 14:46] supernrm opened #14 "[feature request] access only for password / IP on http"
Hi,

HTTP built-in server is great but missing one "must be" feature:
- access only for username/password
- access only for IP range

For now I switch back to Apache but it will be great use only built-in server from Monitorix.

best regards

[2013-05-09 16:14] mjhilt opened #16 "Multiple FS groups give odd results"
I set up two file system groups to monitor. I then wanted to monitor the FS usage for my second group in a similar manner to how the multi-host web page is put together, i.e. using iframes. However, the results produced by the expected urls are not consistent. For instance something like

http://myhost:88/monitorix-cgi/monitorix.cgi?mode=localhost&when=1day&graph=_fs1&color=black&silent=imagetag

[2013-05-09 16:31] mjhilt opened #17 "Adding additional network interfaces gives odd results"
Using monitorix 3.1.0 ubuntu 12.04

When using any interface device other than eth0, my network usage graphs indicate that I get petabyte/s transfer speeds. I checked, and I'm not downloading the internet every few seconds, so some averaging must be off. Here is one example config and /proc/net/dev output. I'd be happy to dig up more info if needed.

========= Config File Snip ====================

[2013-05-10 10:06] #16 closed, assigned to mikaku

[2013-05-10 22:58] graysky2 opened #18 "Option to place net graph on the log scale"
Jodri - How can I modify monitorix to allow plots of the network graph to be on the log scale?  Sometimes, my network graph gets this enormous spike it in as you can see below.  Plotting on the log scale would help to even this out.

![net01z 1day](https://f.cloud.github.com/assets/534822/490631/1939abf8-b9c5-11e2-9793-239e460e7a51.png)

[2013-05-14 07:41] #17 closed, assigned to mikaku

[2013-05-17 02:46] jgeboski opened #19 "Option to define binding interface for standalone web server"
Currently, there appears to be no way of specifying an interface (address or hostname) for the standalone web server to bind to.  This leaves the standalone web server open to listening across all interfaces.  While, in theory, it is not that big of a deal, it would be nice to have the ability to refine the listening scope of the standalone web server.

[2013-05-17 10:00] #19 closed, assigned to mikaku

[2013-05-21 08:59] cicku opened #21 "nocompress in logrotate"
Why nocompress in logrotate?

[2013-05-24 11:17] #14 closed, assigned to nobody

[2013-06-04 14:14] #21 closed, assigned to nobody

[2013-06-07 23:31] #10 closed, assigned to mikaku

[2013-06-15 12:59] Deepcuts opened #23 "Fail2Ban not working"
Hello

I have setup everything and got my Monitorix install to work as I want.
I also have a working installation of Fail2Ban which is working fine. It is blocking and logging to the required log file.
I cannot get Monitorix to graph Fail2Ban at all.
I have plenty of entries in the log file.
Defined jails correctly.
But Monitorix shows only 2 SSH jails max and no entries for the other jails
![fail

[2013-06-16 18:05] #23 closed, assigned to mikaku

[2013-08-12 15:47] agarzon opened #24 "Stop working since update to monitorix-3.3.0-1.noarch.rpm"
Using the the new config file:

Starting monitorix: Config::General: Cannot create hashref from <theme> because there is already a scalar option 'theme' with value 'black'  at /usr/bin/monitorix line 363.

[2013-08-12 16:17] #11 closed, assigned to mikaku

[2013-08-12 16:18] #24 closed, assigned to nobody

[2013-08-12 16:19] #18 closed, assigned to nobody

[2013-08-12 21:13] graysky2 opened #26 "False alarm, sorry to waste space."
Nevermind... false alarm.

[2013-08-12 21:15] #26 closed, assigned to nobody

[2013-09-02 16:50] rubber-ant opened #27 "monitor memcache"
Hi there,
any graph for memcache ?
like : http://livebookmark.net/journal/2008/05/21/memcachephp-stats-like-apcphp/

thanks

[2013-10-10 12:12] graysky2 opened #28 "Readd support for nvidia temps"
Seems as though the nvidia binary blob again supplies the ability to measure the GPU temp which was removed from previous versions.

Output on an old GeForce 6200:

[code]

Output from an embedded GeForce 9400M:

[code]

[2013-11-18 16:35] #27 closed, assigned to mikaku

[2013-11-20 18:54] jacobamey opened #30 "Possible Security Vulnerabilities"
Note, these should not be a huge issue if utilizing a proper firewall. But it might be something you would want to look into and fix anyways.

These where found by a Nessus scan performed against a server running Monitorix.

First One:

Severity: HIGH

Exploit:

Goscript go.cgi Arbitrary Command Execution

Description

The remote host is running GoScript. The installed version fails to properly sa

[2013-11-24 16:11] #28 closed, assigned to mikaku

[2013-11-25 17:02] #30 closed, assigned to mikaku

[2013-12-02 07:37] fallberg opened #33 "File system section in email reports only show first entry in list"
If you (like me) have a lot of disks, you need to break the graphs into multiple ones in order to show statistics for all of them. But in email reports, only statistics for the first group is included.
It would be great if the email reports included statistics for all fs/disk groups.

Thanks!
Best regards,  Patrick

[2013-12-15 20:01] skibbipl opened #34 "Incorrect display of gaps with no data"
Hello,
There is a cosmetic bug in gaps with no data display - gaps are displayed only for positive values. For negative values no gap is displayed (for example in mail statistics):
![mail1z 1month](https://f.cloud.github.com/assets/4746858/1750984/8a4f8466-65c3-11e3-986a-3e5ef65675c9.png)

[2013-12-15 20:05] skibbipl opened #35 "Incorrect min/max/avg values for mail statistics"
Hello,
The mix/max/avg values for mail statistics are displayed incorrectly. Here is an example of one month:
![mail1z 1month](https://f.cloud.github.com/assets/4746858/1750996/26fe22cc-65c4-11e3-931e-501ca06faea5.png)

[2013-12-23 08:45] #34 closed, assigned to mikaku

[2014-01-03 09:46] #33 closed, assigned to mikaku

[2014-01-10 09:36] skibbipl opened #36 "Use of uninitialized values in phpapc module"
Hello,
I'm getting following warnings in monitorix.log:

[code]

The php-apc graph is displaying correctly.

Monitorix: 3.4.0
perl: 5.18.1

Regards

[2014-01-20 16:14] #36 closed, assigned to mikaku

[2014-01-24 12:12] trixpan opened #37 "Add support for /dev/disk/by-path block devices"
udev is a strange beast that sometimes may decide to reorder devices for no apparent reason, resulting in /dev/sda being the device that until yesterday was /dev/sdb...

When this happens monitorix continues to plot temperatures without realising that drive "letter" allocation has changed.

The best way of accepting this is to fully support the use of "/dev/disk/by-path/" paths under <disk><list>

[2014-01-24 20:18] jacobamey opened #38 "Feature Request for MongoDB Support"
Hi Jordi,

Any chance of getting some MongoDB monitoring support added to Monitorix?

More then willing to be a test dummy :-)

[2014-01-31 07:27] oliverbestmann opened #41 "CPU-usage graph for processes"
Hello, it would be nice if monitorix has the capability to monitor the cpu usage of processes, like 'top' does. It could display the 5-processes with the most cpu usage in a nice looking graph.

[2014-02-02 21:39] Slind14 opened #42 "[Question] Refresh graph pictures without loading/reloading the site"
Hey,

I would like to embed the graphs on another website, I thought it would be enough by just putting in the link and monitorix auto refresh them every x minutes. But it doesn´t seem like it. So is there any option or something I could run as a cronjob to refresh the picture graphs, that I don´t have to open the monitorix website ?

[2014-02-04 19:57] #42 closed, assigned to mikaku

[2014-02-10 14:16] #35 closed, assigned to mikaku

[2014-02-20 12:03] #41 closed, assigned to mikaku

[2014-02-21 23:14] mgruben opened #43 "TCP+UDP Support Lacking"
There appears to be no way to enable port logging of both TCP and UDP connections on the same port, as you might want to do for logging bittorrent-like applications.
Tried:
(1) using 'tcp/udp' as option
(2) separating entries into a 'tcp' line and a 'udp' line
(3) (1) and (2) with desired port in enable list twice
to no avail

[2014-02-22 11:24] #43 closed, assigned to mikaku

[2014-02-27 13:30] mgruben opened #44 "fs Graph Displays Incorrect /swapfile Usage"
In my fs graph, I have listed "/, [a RAMdisk], /swapfile"

The /swapfile usage graph line tracks to the RAMdisk's actual (correct) usage, though "free" shows that of 2.1G of swap, 0B are used.

[2014-03-01 19:47] #44 closed, assigned to nobody

[2014-03-11 08:35] #37 closed, assigned to mikaku

[2014-05-20 12:28] skibbipl opened #47 "MySQL stats broken in 3.5.1"
After upgrde to 3.5.1 MySQL stats stopped working:

[code]

MySQL listens on socket - tested with socat.

[2014-05-20 19:22] #47 closed, assigned to nobody

[2014-06-04 06:26] ghost opened #50 "Can't change default user and password for MySQL"
In my monitorix.conf i wrote:
        conn_type = socket
        list = /var/run/mysqld/mysqld.sock
    <desc>
        /var/run/mysqld/mysqld.sock = 3306, my_mysql_user, my_mysql_password
    </desc>
But Monitorix all the same use user 'user' with password 'secret' for authorization on MySQL

[2014-06-04 07:31] #50 closed, assigned to mikaku

[2014-06-18 06:59] KatsuroKurosaki opened #51 "[Question] Email reports: Use remote SMTP With password and TLS"
Good morning,

Finally we could update our Monitorix servers to 3.5.1, and looking deeply on monitorix.conf, we found the Email reports feature (We where on 2.x release and enabled only the needed graphs).
So, I can write the smtp hostname and from fields, but where does the password can be typed? As well, does it support TLS, with self-signed certificates?
Hoping to hear good news or be implement

[2014-06-23 09:03] #51 closed, assigned to mikaku

[2014-06-24 17:52] rumpelsepp opened #52 "Problem with postfix graph"
Hi,
today I have set up monitorix instead of munin. It is working very well, but the postfix graphs do not seem to work. I have installed syslog-ng to ensure the needed logfiles and pflogsumm as mentioned in the docs.

I have set my log paths to this:

[code]

The graphs only show the queued messages. Any ideas? I am using arch linux.

Stefan

[2014-06-25 07:09] #52 closed, assigned to mikaku

[2014-07-14 09:08] lorenzos opened #53 "HTML templates for initial page and graphs page"
What about using HTML templates to generate the Monitorix initial page (the one with the host/graph/time form) and the graphs page?

I wanted to customize the styling a bit (table thick borders, big fonts, etc), but I noticed all HTML generation is hard-coded in Perl scripts. Unfortunately I'm a PHP developer, and I know nothing about Perl. If I was, not only I had modified my pages, but also help

[2014-07-23 21:59] pitchforks opened #54 "Lost NVidia temperature graph after updating NVidia driver"
monitorix-3.5.1

Old version of proprietary NVidia driver: 331.67

Everything worked well with this one

After upgrading to 340.24 the NVidia temperature graph keeps staying empty

Both nvidia-settings and nvidia-smi show the correct value of the GPU temperature

[2014-07-24 07:34] lorenzos opened #55 "Rigid/limit values for net traffic graph (monitorix.conf)"
This is a snapshot of the net traffic graph for my Raspberry Pi:

![Raspberry Pi net traffic graph](http://i.imgur.com/OQSJ1IO.png)

The peak is because 4 days ago I transferred some big files from the Raspberry Pi to my laptop via local network. I'm not interested in such values, so I tried to zoom on smaller values (to _crop-out_ the peak) setting the rigid/limit in the `monitorix.conf`:

[code]

[2014-07-24 09:55] #55 closed, assigned to mikaku

[2014-07-28 10:42] #54 closed, assigned to mikaku

[2014-07-29 09:45] centosuser opened #56 "how to add style.css"
I have try to
1. add (into the monitorix.cgi)
   `print("<link rel='stylesheet' type='text/css' href='style.css'>\n");`
   at line 382 under `print("<title>$config{title}</title>\n");`
2. and copy the style.css into all the dirs of the path /var/lib/monitorix/www/cgi (centos 6)

but allays i get the error  NOTEXIST - [192.168.1.68] File does not exist: /monitorix-cgi/style.css

also i have try oth

[2014-08-06 15:55] jacobamey opened #57 "MySQL Confilct"
Hi Jordi

we ran in to a snag today. It seems Monitorix is dependent on the mysql-libs from 5.1

Our problem arises from a conflict when running a newer version of MySQl. Is there anyway to easily bypass this issue. would Installing the application with no dependencies cause an issue by chance?

Installing:
 monitorix                                 noarch                            3.5.1-1.el6

[2014-08-08 22:24] #57 closed, assigned to nobody

[2014-08-10 11:31] milouse opened #58 "Add custom url config value to allow reverse proxy to work"
Hi!

In my infrastructure, I use hiawatha webserver. An easy way to open monitorix to the wild internet is to use the reverse proxy possibility of hiawatha. This way, I just have to configure monitorix to listen to localhost connection through its builtin http server. It seems to works out of the box, but.... No graphs are displayed (all images are broken). This comes from the fact you force `$con

[2014-08-15 19:34] graysky2 opened #59 "Please make a release soon"
https://github.com/mikaku/Monitorix/commit/75e7b935ae4266eeec27d8970d5f37abc5e9e70f is an important fix.  I have been using the git version for a week now and it has been very stable.  Please consider wrapping up the fixes into a formal version.  Thanks!

[2014-08-16 17:20] #59 closed, assigned to mikaku

[2014-08-18 10:02] #56 closed, assigned to mikaku

[2014-08-20 07:27] #58 closed, assigned to mikaku

[2014-08-23 12:33] djmattyg007 opened #65 "Install without built-in webserver"
How difficult would it be to install Monitorix without its built-in webserver?

[2014-09-15 09:59] Tarjaizaid opened #66 "Netstat statistics IPv6 issue"
Hello,

I think I have a problem with ipv6 netstat statistics.
The graph show correct "listen connections" but wrong value for "established connections".
I count 5 "established connections" for IPv6.

![pbv6-graph](https://cloud.githubusercontent.com/assets/8758672/4269570/11cce5c4-3cbe-11e4-8e8f-0e44cca4b43b.png)

![selection_002](https://cloud.githubusercontent.com/assets/8758672/4269599/7251522

[2014-09-15 10:11] Tarjaizaid opened #67 "Request : port feature with ipv6"
Hello,

The "port" feature make graph with iptables (monitorix_*) (ipv4), the ipv6 (ipv6tables) graph not support.

Could You add this feature ?

Thanks
Tarjaizaid

[2014-09-18 10:31] pitchforks opened #68 "monitorix won't start after a crash"
I had an unfortunate system crash on a host that is using monitorix and I have noticed that it won't start anymore. I am using the vanilla docs/monitorix.init boot script and I think it has a bug which causes the startup problem in my cause.

The start() function in this file makes sure that there's no lock file and then starts monitorix.

But the opposite use case (a present lock file) can happen

[2014-09-18 16:13] #68 closed, assigned to nobody

[2014-09-18 16:28] lorenzos opened #69 "Problems with Apache 2.4 on Ubuntu 14.04 (with solution)"
I had troubles using Monitorix (installed via _IzzySoft_ repo) with Apache web server. Using the given Apache configuration file (the one in `/usr/share/doc/monitorix/monitorix-apache.conf`) I had **_403 Forbidden**_ all the time. I wrote down all the details in [this Server Fault question](http://serverfault.com/q/625406/126065).

The solution came from [this answer](http://serverfault.com/a/6295

[2014-09-22 14:26] #69 closed, assigned to mikaku

[2014-09-23 16:46] #66 closed, assigned to mikaku

[2014-10-02 15:26] Tarjaizaid opened #70 "process feature - error with "show_gaps = y""
Hello,

when i use process feature and enable show_gaps option, the web page generate an error for "Opened Files" graph.
"ERROR: while graphing /var/lib/monitorix/www//imgs/process05z.1week.png: parameter 'wrongdata' does not represent a number in line AREA:wrongdata#FFFFFF:"

If i disable show_gaps, i dont have this error.

Thx

[2014-10-03 07:37] #70 closed, assigned to mikaku

[2014-12-02 14:19] sjkeerthi opened #71 "Monitorix will Support Xenserver"
Hi

Is there any module or will it support to Citrix xenserver.

[2014-12-15 11:18] atika opened #73 "Port.pm doesn't wait if iptables is locked by another process"
Hi. I found this in my monitorix logs (Ubuntu trusty) :

[code]

[2015-01-18 15:27] kecksk0enig opened #74 "monitor qdisks /TrafficControl"
Hi currently I am useing
https://code.google.com/p/py-tc-probe/
to monitor my traffic shaping. For everything els i use monitorix and it is very useful.

Is it possible to include some kind of monitoring of qdisks in monitorix?

there are some other plugins avaible for munin
http://munin-monitoring.org/browser/munin/plugins/node.d.debug/tc.in
or standalone
http://borg.uu3.net/traffic_shaping/monit

[2015-01-19 14:12] mikaku commented on #74
Hi kecksk0enig,

Some time ago I was thinking to implement a graph for traffic shaping monitoring but since it's something that I almost don't use I gave it up.

I'm currently so busy at work that is preventing me to put some time in Monitorix. Once things start being calming down again I'll take in consideration your request, which includes some interesting links that will indeed help me in its d

[2015-01-20 11:44] changwuf31 opened #75 "What is the performance hit by installing monitorix ?"
Hi, monitorix looks lightweight and simple.

Anyway, I wonder how much of a performance hit if say I use it to monitor mysql instance ?

How are the metrics sent, if I'm using to monitor around 20 servers ? I mean, is monitorix using a distributed system (client actively send metrics and data to the server ?) or is it centralized (server is the one who actively request data from client ?)

And wha

[2015-01-21 18:28] mikaku commented on #75
Hi changwuf31,

Monitorix connects to a MySQL server on every minute and it just issue the commands `show global status` and `show variables`. I haven't experienced any performance degradation on none of my servers.

If you are using the `Multihost` feature you need to install Monitorix on every server, and currently, it's your local browser who connects to each remote server to get the graphs. Th

[2015-01-22 11:30] changwuf31 commented on #75
@mikaku
Thanks for the detailed explanation :+1:

[2015-01-22 11:30] #75 closed

[2015-01-26 14:02] atika opened #76 "Problem with URL"
I have a problem accessing Monitorix configured with built-in server, it worked before, I don't know is a issue or not. The problem is URLs are malformed.

__Command line__

[code]
I get Images URLs like this : ```http:////imgs/system1.1day.png```

__And from the webpage__

[code]

I get Images URLs like this : ``http://127.0.0.1//imgs/system1.1day.png``

__My Config:__
[code]
And changing ``host`

[2015-01-26 14:17] atika commented on #76
Ok sorry, I searched a moment, and I just found where the problem are, just after posting my message. I am using a Local HTTP Proxy and I don't know what's happening with, it started to made mistakes.
The problem with command line still persists (just for the url, not for page and image generation), and for the webpage, URL are now like this : ```http://127.0.0.1:9090//imgs/system3.1day.png``` (do

[2015-01-26 14:40] mikaku commented on #76
Hi,

Yes, I've been making some tests here and all is working fine with the same configuration as you:

[code]

And with command line `./monitorix.cgi mode=localhost graph=_system1 when=day color=black` all images have a good prefix `http://127.0.0.1//imgs/system1z.1day.png`. Yes, there is a double slash and that's because `monitorix.cgi` adds an extra slash just in case you forgot to add it in th

[2015-01-26 15:15] atika commented on #76
Hi,
Thanks for you reply.
From the command line I still have no hostname set : ```http:////imgs/system1.1day.png```
__I just added this option and it works:__ ```url_prefix_proxy```. I think, and sorry for my lack with Perl, is that monitorix.cgi try to compose an URL if ```url_prefix_proxy```doesn't exists, with environments variables ```$ENV{HTTP_HOST}```, who are empty from the command line.

[2015-01-26 15:56] mikaku commented on #76
This code in `monitorix.cgi` should default to `http://127.0.0.1` in command line execution:

[code]

`$config{hostname}` will be empty because `$ENV{SERVER_NAME}` is probably not defined in command line, so the assignments inside the `if(!($config{hostname})) {` will be executed.

At least, it works for me.

[code]

Returns nothing.

[2015-01-26 16:30] atika commented on #76
The reason is ```hostname``` is defined in my config file, and with the first line url is set to ```http://``` (empty url) (```$ENV{HTTP_HOST}``` doesn't exist) and did not enter on the last ```if```

[2015-01-27 08:31] mikaku commented on #76
Why do you have defined the `hostname` option if you want to execute Monitorix from the command line?

[2015-01-27 11:27] atika commented on #76
There was an option for the hostname, I set the hostname... :)  I connect to Monitorix from the browser but I wanted also to generate graph images from the command line and send them to an other host to have an overview. The purpose of this option is  to compose an url for images ?
But the ```url_prefix_proxy``` option resolved my problem, just I had to take a look at the code.
The initial problem

[2015-01-27 14:43] mikaku commented on #76
The purpose of the `hostname` option is the ability to identify (and hide) the real host name of the server your are monitoring.

If that option prevents you to have a correct output from the command line, then I'd suggest you to have different configuration files; one to be used by Monitorix under normal circumstances, and another one to be used by when you execute it from the command line.

Rega

[2015-02-16 17:01] mikaku commented on #67
Please, check the new code (`lib/ports.pm` and `/lib/Monitorix.pm`) and let me know if that works as expected.

Thanks.

[2015-02-16 17:17] mikaku commented on #73
Hi,

Can you please tell me your `iptables` version?

Thanks.

[2015-02-16 17:58] atika commented on #73
Hi,
It's ``iptables v1.4.21`` on ``Ubuntu Trusty 14.04``. I having the same problem on my scripts failing when Iptables was used by another process, I have added the ``--wait`` option, it seems to work now.

[2015-02-17 14:38] mikaku commented on #73
Please, check the last commit and let me know if it works as expected.
Thanks.

[2015-02-17 22:23] atika commented on #73
Hi. I have updated all files and I no longer have the error messages in the logs. It's seem to work. I do not know if I can test something else or run the script manually. Thanks.
I have another message in the logs, I create a new issue for it.

[2015-02-17 22:32] atika opened #77 "Use of uninitialized value in multiplication in int.pm"
I just updated Monitorix and I have a new message in the logs :
[code]
[code]
If it can help, since the beginning the graph ``int1.1day.png`` works but the image for ``in2.1day.png`` is not generated without errors messages (not found).

[2015-02-18 08:00] mikaku commented on #73
OK, let's close this one.

[2015-02-18 08:00] #73 closed

[2015-02-18 08:06] mikaku commented on #77
Please, make sure you have defined the option `global_zoom` in your configuration file. If not, then it means its time to update that configuration file.

[2015-02-18 08:08] mikaku commented on #77
Also, what RRDtool version do you have there?

[2015-02-18 08:17] #76 closed

[2015-02-18 10:06] atika commented on #77
The version of RRDtool is ```RRDtool 1.4.7``` and I have this options defined:
[code]

[2015-02-18 10:19] mikaku commented on #77
OK, thanks, I'm using 1.3.8 here, I've not tested it in 1.4 branch.

Those error messages `Use of uninitialized value in multiplication (*) at /usr/lib/monitorix/int.pm line 1175.` also appear in the rest of graphs or only in this one (the Interrupts graph)?

[2015-02-18 10:27] atika commented on #77
I have only this error message after updated all files, and since the beginning the graph ```int1``` is working but ```int2``` not appear (without error log message). There is a way to test only ```int.pm``` from the command line ?

[2015-02-18 10:39] mikaku commented on #77
I've just download the ZIP file of the master code at Github and tested it on a CentOS 7 x86_64 with RRDtool v1.4.7 and it works finely and without any error message.

Make sure `int2` already not appeared before you upgraded to the current master code at Github. Interrupts graph is an old code (still pending to a complete rewrite) that might not easily understand all architectures and it could fa

[2015-02-21 09:50] hitgub opened #78 "hptemp fails to parse a temperature reading from 'hplog -t' because of a white space difference"
The new Proliant DL380p Gen8 servers have introduced several new temperature sensors.

For some reason *hplog* will output some readings of the sensors with one less white space.
Monitorix is too sensitive to this difference and fails to process *hptemp*.

A sample of the output is found here:
http://pastebin.com/k2giCm9J

When not using the shifted readings (4,5,6,7) *hptemp* is working fine.
Ple

[2015-02-21 12:42] mikaku commented on #78
Thanks hitgub, as we have commented on IRC the best way is to rethink how Monitorix parses the `hplog` output.

I'll work on this and will submit a new version for testing as soon as possible.
Regards.

[2015-02-21 17:00] Tarjaizaid commented on #67
Hello,

Thanks for your work.

i've tested the feature.

When i've restart monitorix, i've this errors :

Sat Feb 21 17:48:20 2015 - Exiting.
Sat Feb 21 17:48:23 2015 - Starting Monitorix version 3.6.0 (pid 1214).
Sat Feb 21 17:48:23 2015 - Loaded main configuration file
'/etc/monitorix/monitorix.conf'.
Sat Feb 21 17:48:23 2015 - Loading extra configuration file
'/etc/monitorix/conf.d/00-debian.co

[2015-02-21 17:18] mikaku commented on #67
Can you please paste the `<port>` section of your configuration file?

[2015-02-21 17:43] Tarjaizaid commented on #67
<port>
        max = 9
        rule = 24000
        list = 5565,5560,5555,4000
        <desc>
                5555   = Test1,    udp, in, 0, 1000
                5560   = Test2,    tcp, in, 0, 1000
                5565   = Test3,    tcp, in, 0, 1000
                4000   = TEST6, tcp6,in,0,1000
        </desc>
        graphs_per_row = 3
</port>

2015-02-21 18:18 GMT+01:00 Jordi Sanfeliu <notifica

[2015-02-21 17:50] Tarjaizaid commented on #67
And, in monitorix log file, i've many log with

Use of uninitialized value in concatenation (.) or string at
/usr/lib/monitorix/port.pm line 209.
Use of uninitialized value in concatenation (.) or string at
/usr/lib/monitorix/port.pm line 210.

2015-02-21 18:43 GMT+01:00 Sylvain Tgz <tarjaizaid@gmail.com>:

[2015-02-23 09:07] mikaku commented on #67
OK, I've just used the same '<port>' section you pasted above and I've not got any of the error messages you also pasted above. All is working finely.

Please, make sure you upgraded correctly your 3.6.0 version to the latest commit of master branch (not only the `port,pm` module).

Thanks.

[2015-02-23 09:18] #1 closed

[2015-02-23 09:54] mikaku commented on #78
hitgub,

Please, download the latest `hplog.pm` version from the master branch and let me know if that really fixes the problem.

Thanks.

[2015-02-23 12:19] hitgub commented on #78
Problem solved, works as expected with the shifted lines, case can be closed, thank you again. :)

[2015-02-23 13:13] Tarjaizaid commented on #67
Hello,

Sorry, i've only copy lib/ports.pm and /lib/Monitorix.pm.

After copy the repostory, error "Use of uninitialized value in
concatenation" isn't present.

If i use all6 option, i've always this error :
ip6tables v1.4.14: unknown option "--sport"

thx

2015-02-23 10:07 GMT+01:00 Jordi Sanfeliu <notifications@github.com>:

[2015-02-23 13:37] #78 closed

[2015-02-28 18:53] Tarjaizaid opened #80 "Request : advanced iptable feature"
this request concern irc conversation of the 28/02
----------------------------------------------------------------
Currently, the port.pm feature add iptable chain to monitoring usage for a port/application.

I think it would be more flexible to let the user choose a specific rule by the number rule.

Here is some reason :

The addition of rule is CPU resource consumer.
With number rule, you are

[2015-02-28 20:30] Tarjaizaid opened #81 "Request : Generic feature for generic chart"
Hello,

After the advanced iptable request, i've an another idea.

Could you add a feature for generate graph by getting a numeric value returned by a user script specified in monitorix option.

A first example concern teamspeack server. The community developed code to get number of client connected to the serveur (http://stackoverflow.com/questions/22738039/teamspeak-query-number-of-connected-cli

[2015-03-02 14:22] mikaku commented on #67
`iptables` requires a specific protocol when using source port numbering. So, `all` and `all6` are no longer valid protocol names in that graph, instead, use `tcp` or `tcp6` and `udp` or `udp6`.

Thanks.

[2015-03-02 16:58] #67 closed

[2015-03-04 16:41] mikaku commented on #80
Tarjaizaid,

I don't know what means `in` and `out` in these example configurations and what relationship have with the `INPUT` and `OUTPUT` keys.

Can you elaborate a bit more?

Thanks.

[2015-03-07 13:47] Tarjaizaid commented on #80
"in" and "out" is only for monitorix to specify the "chart bar" for a rule
is it possible to have more than 2 "chart bar" on a graph ?

![image](https://cloud.githubusercontent.com/assets/8758672/6541534/5b584d4e-c4d8-11e4-9224-c04bfd6e791a.png)

let me know if my answer is ambiguous.
Thx

[2015-03-07 16:14] pr0ser opened #82 "Wrong y axis title on apcupsd Time left graph"
apcupsd "Time left" graph has normally Minutes as the title for y axis, but when clicking the graph to get larger version the y axis title changes to "Volts". Should the larger graph also have the same title? This happens in 3.6.0 version.

![apcupsd05z 1day](https://cloud.githubusercontent.com/assets/11365982/6542056/741e24c6-c4f5-11e4-868f-b9a0c9456e22.png)

[2015-03-09 09:30] mikaku commented on #82
pr0ser, you're right :-)

I'll fix that typo right now.
Thank you very much for your feedback!

[2015-03-09 09:35] #82 closed

[2015-03-17 10:54] skibbipl opened #83 "Can't disable nvidia monitoring"
Hello,
I'm using debian packaged monitorix 3.7.0. Config data is configured to point ```/etc/monitorix/monitorix.conf```. I decided to put my specific config into ```/etc/monitorix/conf.d/00-debian.conf```. I've disabled nvidia in my custom config file, but the problem is that nvidia plugin is still generating following errors:
[code]
Here is excerpt from ```monitorix.conf```:
[code]
And this is m

[2015-03-17 14:28] mikaku commented on #83
Hello skibbipl,

This is because you have included the option `gpu0` in the `<list>` block of the `lmsens` graph, which is saying to Monitorix that you want to monitor your NVIDIA graphics card.

[2015-03-17 15:05] skibbipl commented on #83
Thanks for clarification, but this means that monitorix is ignoring settings in my custom ```00-debian.conf``` file. In main config I have ```gpu0``` in ```lmsens``` graph, but I commented it out in my custom config. Shouldn't monitorix use the ```lmsens``` list from my custom config instead combining both lists?

[2015-03-17 15:16] mikaku commented on #83
I'll take a look to it.
In the meatime what if you leave in blank such option:

[code]

[2015-03-17 15:30] skibbipl commented on #83
Blank value seems to be working fine! Thanks!

[2015-03-20 11:09] mikaku commented on #83
skibbipl, just for your information.

When Monitorix loads extra configuration files it only modifies the options that it finds in these extra configuration files. So, in your case, since it was unable to find the option `gpu0` it ended up using its original value in the main configuration file.

[2015-03-20 12:13] skibbipl commented on #83
So if I want to disable an option enabled in original config file I just need to put an empty value to it?

[2015-03-20 12:13] #83 closed

[2015-03-20 18:34] mikaku commented on #83
Exactly :)

[2015-03-25 09:42] keyermann opened #84 "Support of Postgresql"
Hi,

Is there a way to support PostgreSql ?

Thank for your work !

[2015-03-25 17:46] mikaku commented on #84
keyermann,

Yeah, I've it in my TODO list for some time but that's something I can't work now because I'm pretty busy at work lately.

I'd really like to have a new PostgreSQL graph for the next Monitorix version.
We could use this open issue to dump useful information (links, documents, etc.) when creating such graph.

Thanks.

[2015-03-26 14:05] bsyd opened #86 "wowza graphs not counting bandwidth correctly"
wowza.pm contains
[code]
This is incorrect as it supposes that MessagesInBytesRate and MessagesOutBytesRate are counters.
In fact these are gauge values.  So these lines should be changed in
[code]

[2015-03-26 16:07] mikaku commented on #86
bsyd,

You're right. I've modified the code to treat MessagesInBytesRate and MessagesOutBytesRate as gauge values.

I've also removed the suffix `/s` in all these values and also in the y-axis label.

Please, test the new code in `wowza.pm` and let me know if that's what you expected.
Thanks.

[2015-03-26 18:09] bsyd commented on #86
It looks OK for me, but why did you trash the "bits/s" logic ?

[2015-03-26 19:32] bsyd opened #87 "data collection stops when wowza config contains a missing application"
I see this in the logs.
[code]
It happens for me when the last defined application (in the list after the wowza url in monitorix.conf) has been shutdown whitin wowza and returns no value in the connectionscount http call.

I don't know if the order is important (does this happen with less applications defined or if the stopped application is not last in the list ?) but data collection is dead afte

[2015-03-27 07:11] mikaku commented on #86
Because it no longer means values/s since the values are saved and showed as they were collected. If you think that values/s would be better then I can re-introduce the division by 60.

Let me know.

[2015-03-27 07:24] bsyd commented on #86
the values are bytes/second as currently delivered by the applications.  There is no need to divide by 60 (the values are already by seconds), but showing them as bit/s (configurable) like in the rest of the graphs is a plus.

[2015-03-27 07:25] bsyd commented on #87
it also happens when the shutdown application is not last in the list and when there is less than 8 applications defined.

[2015-03-27 07:35] bsyd commented on #87
simple test : add an inexistant application to the list.

[2015-03-27 08:14] mikaku commented on #86
I see, OK, let me reintroduce all this code.

[2015-03-27 09:09] bsyd commented on #87
line numbers changed since the last commit, so here is the impacted code :
[code]
[code]

[2015-03-27 09:10] mikaku commented on #86
Let me know if we can close this issue, so I can focus on #87.

[2015-03-27 09:16] bsyd commented on #86
at first sight yes.

[2015-03-27 09:16] #86 closed

[2015-03-27 09:20] bsyd commented on #87
I changed the configuration to just one existing application, and this message comes every minute in the log.
So I will close this bug and open a new one with an updated title.

[2015-03-27 09:22] mikaku commented on #87
OK

[2015-03-27 09:22] #87 closed

[2015-03-27 09:27] bsyd opened #88 "wowza_update(): Not a HASH reference on live applications"
clean installation from up-to-date git.
enabled wowza collecting
added one existing app to the wowza channel list
[code]
One minute after restarting, I see this message in the logs :
[code]
The impacted code is :
[code]

Result : no data collected and no wowza graphs.

[2015-03-27 09:54] bsyd commented on #88
I just changed the application to a non-live (VOD) app, and the error disappears, graphs are showing.
So this bug only strikes on live applications.

[2015-03-27 09:59] mikaku commented on #88
I don't have a Wowza server to test so I'm using this public URL <http://videostream.indostreamserver.com:8086/connectioncounts>.

I've added only one channel and I don't see the errors you get.

[2015-03-27 10:01] mikaku commented on #88
Perhaps you might want to email me directly to be able to test with your own Wowza server using a private URL and see if we can fix all these problems with 'non-live' applications.

[2015-03-27 10:07] bsyd commented on #88
which channel do you check on this server ?
If I specify only non-live applications in my config, there are no problems.  Only with live.
Here is a sample of my live channel :
[code]

[2015-03-27 10:10] mikaku commented on #88
I've selected some random channels from that server:

[code]

How do I know if a channel is a live application? and what are the differences between live and non-live applications?

Thanks.

[2015-03-27 10:30] bsyd commented on #88
I see no big differences in the output between live and vod. A vod application can appear and disappear after a certain time if no access is done on it.  The output contains the file names currently played show as streams, one stream for each file currently played.

The server you take as an exemple is live-only, AFAICT.  I send you by email the url of my server.

To come back to the problem, I se

[2015-03-27 10:53] mikaku commented on #88
Hmm, I think I've found out the problem.

It looks like your `live` application has multiple `ApplicationInstances` tags and (AFAIK) this is what is causing the problem since they are obtained as an ARRAY instead of a HASH.

Let me see if I can fix this.

[2015-03-27 11:33] mikaku commented on #88
Please, check if the latest commit fix this for you.

[2015-03-27 11:35] bsyd commented on #88
As an afterthought, I think that collecting individual transport statistics is rather pointless in the case of VOD.
You cannot get global statistics this way since the numbers are linked to the currently playing stream.
So, extracting
[code]
doesn't give you any usable information.

[2015-03-27 11:45] bsyd commented on #88
the last commit fixed the bad behaviour.

[2015-03-27 11:49] bsyd commented on #88
And for the individual transports counters, I use JMX.

[2015-03-27 11:49] #88 closed

[2015-03-27 14:19] bsyd opened #89 "wowza shutdown applications are skipped. rrds garbled."
Sometimes wowza applications can be shut down (unloaded, automatically or manually).
When this happens, they disappear from the connectioncounts result.
This results in a garbled database, where the numbers are put in the wrong lines.

exemple `monitorix.conf` :
[code]
Result : `surautv` numbers go in `unknown1`, and `tvmelayu` numbers go in `surautv`.

The correct result should be zero/null/NaN v

[2015-03-27 17:31] mikaku commented on #89
I'll be out this weekend, so I'll take a look at it Monday.
Thanks.

[2015-03-27 18:19] bsyd commented on #89
Take your time. I understand, I do the same.  I have a family.

Sydney.

[2015-03-30 10:50] mikaku commented on #89
Sydney,

The last commit should fix this.
Just let me know, thanks.

[2015-03-30 11:16] bsyd commented on #89
No, it still skips `unknown1` in the example given above (first argument in the list).

[2015-03-30 11:25] mikaku commented on #89
It works for me now. The non-existent application now is appearing zero values while the rest is working normally.

[2015-03-30 11:46] bsyd commented on #89
![image](https://cloud.githubusercontent.com/assets/3646417/6895694/2915e504-d6e3-11e4-90a4-8184bb4004f4.png)

does not seem good for me

[2015-03-30 13:56] mikaku commented on #89
Since I'm using an external Wowza server, the only way for me to simulate an Application shutdown is just changing it to a non-existent name, but I'm not sure if that's the best way.

[2015-03-30 14:01] bsyd commented on #89
That's what I do with the config listed in the first post.  Please try that config.
It uses your usual external server.

[2015-03-30 14:13] mikaku commented on #89
(I'm now using the same config line, let's run it for a while)
I hate asking this but, did you restarted Monitorix after applying the last commit?

[2015-03-30 14:24] mikaku commented on #89
![image](http://i.imgur.com/XHkfd8F.png)

Looks good here.

[2015-03-30 14:44] bsyd commented on #89
yes, I restarted, and deleted /var/lib/monitorix/wowza.rrd for good measure.
Let's try again. Clean install, kept only config file.
![image](https://cloud.githubusercontent.com/assets/3646417/6898698/e994c5f8-d6fb-11e4-9636-88b7007efa48.png)
same result...
I don't know what's happening.

[2015-03-30 14:47] bsyd commented on #89
I spotted the problem.
when I specify only one server, the results are good.
![image](https://cloud.githubusercontent.com/assets/3646417/6898779/4d18b51c-d6fc-11e4-9df7-2736eb4af861.png)
when I specify two servers, the second is not good.

[2015-03-30 14:53] bsyd commented on #89
if you want to simulate multiple servers with the same server url, simply add a number or other garbage text at the end of /connectioncounts

[2015-03-30 15:00] mikaku commented on #89
Ah thanks!, I was struggling with it :)

[2015-03-30 15:21] mikaku commented on #89
Last commit should fix this.

[2015-03-30 15:38] bsyd commented on #89
I confirm.
Closing bug.

[2015-03-30 15:45] bsyd commented on #89
reopening.
I now got an error when switching configuration back to one server.
[code]

[2015-03-30 15:48] bsyd commented on #89
closing again. there was a typo in my config.

[2015-03-30 15:48] #89 closed

[2015-03-30 15:48] mikaku commented on #89
OK, thanks anyway.

[2015-04-18 21:02] PMaynard commented on #77
I've noticed this isssue on a fresh Debain 7 install using the apt repo from [izzysoft](http://apt.izzysoft.de/ubuntu/dists/generic/). RRDtool 1.4.7

*/var/log/monitorix*
[code]

[2015-04-20 14:06] mikaku commented on #77
Hi PMaynard,

I think that by any reason your second interrupt graph is not rendering, returning uninitialized values from the RRDtool function and ending up showing error messages when trying to multiply them for any value.

As I told in one of my previous posts, the interrupt graph has old code (still pending to a complete rewrite) that might not easily understand all architectures and it could

[2015-04-20 15:38] atika commented on #77
Hi Jordi,

If it can help for future improvments, this is my output of ```cat /proc/interrupts```. The system is Ubuntu Trusty on a XenServer virtual machine. Thanks.
[code]

[2015-04-21 12:48] mikaku commented on #77
Dominique,

Thanks for sharing this information, it indeed will be useful when rewriting the new Interrupt graph which I plan to start it soon.

I'll keep you informed of my progressions here in.
Thanks again.

[2015-04-22 08:57] PMaynard commented on #77
@mikaku You are correct I was missing a second interrupt graph, didn't see it fail.
Virtual machine running on a xen server, Debain 7 x32.

*/proc/interrupts*
[code]

[2015-04-22 13:25] mikaku commented on #77
PMaynard,

Thanks for your contribution. It looks pretty similar to Dominique output so that's probably why you both are experiencing similar problems. It will be indeed useful when writing the new Interrupts graph.

Thanks again and glad to know you are enjoying Monitorix.

[2015-04-22 19:05] mugnox commented on #77
@mikaku
hi, if got the same error on actuall archlinux. Installed monitorix 3.7.0 with `yaourt monitorix`
[code]
My output of:  cat /proc/interrupts
 cat /proc/interrupts
[code]
No graph pictures are generated but a lot of apache error logs messages:
[code]

[2015-04-24 08:57] mikaku commented on #77
@mugnox,

Thank you for sharing this information, this indeed puts more pressure on me to fix all these issues in the Interrupts graph :)

Regards.

[2015-04-26 18:23] sjkeerthi commented on #71
Hi

Is there any up coming plan on this

[2015-04-27 10:15] mikaku commented on #71
Hi,

Just make me and idea, what are the statistical values offered by Citrix Xenserver and what are the ways to collect them?

[2015-04-27 13:00] sjkeerthi commented on #71
Reference link of collecting RRD report

http://xenserver.org/partners/developing-products-for-xenserver/18-sdk-development/96-xs-dev-rrds.html

On Mon, Apr 27, 2015 at 3:45 PM, Jordi Sanfeliu <notifications@github.com>
wrote:

[2015-04-27 15:03] mikaku commented on #71
First of all, I don't use XenServer and hence I don't know how it works. So a simple URL won't facilitate things to me, and it shows a bit of laziness on your part.

Anyway, it looks like XenServer already stores the statistical data in .rrd files, I think that is not the best approach for Monitorix. Instead, it would be useful to have access to collect the raw statistical data of CPU, memory, dis

[2015-04-27 15:40] mikaku commented on #74
As stated above, I don't use traffic control so it's a bit difficult for me to have real data.
Can you please paste the output of your command `tc -s qdisc`?

Thanks

[2015-04-28 15:12] mikaku commented on #81
Hello,

I think that Munin is a better solution for your purpose since it has developed from the idea of create third-party plugins in a relatively easy way.

On the other hand, if you want to create a Teamspeak graph for Monitorix, I recommend you to take an approximate existing module as base and develop your own on top of it.

Thanks.

[2015-04-28 22:50] mqudsi commented on #47
I was bit by this today, thanks to @skibbipl comment, I figured it out quickly. If monitorix complained about duplicate definitions, that might have helped avoid the confusion as I defined my own MySQL configuration in /etc/monitorix/monitorix.conf which conflicted with the incorrect (package-default) one.

[2015-04-29 09:53] mikaku commented on #47
Hi mqudsi,

If Monitorix advises with a message of every duplicated definition in both configuration files then it would be a complete mess on every start up, since the reason of the extra configuration is precisely to change default values with new ones. Such mess would create the contrary effect to alert the user because that excessive verbosity might make reduce the interest of the log file.

I

[2015-05-07 15:53] kecksk0enig commented on #74
Hi!
Sorry for the delay. here is an example output:
[code]

[2015-05-11 08:29] mikaku commented on #74
kecksk0enig, thanks.

So, I guess you would be interested in the following queues of the `wlan1` network interface:

- htb 1
- pfifo 20
- pfifo 21
- pfifo 22

If so, do you think that it would reasonable to define the network interface and the queue names in the monitorix configuration file?

[2015-05-17 13:21] mgruben opened #91 ""System load average and usage" Graphs Empty"
Yesterday, the three graphs in the "System load average and usage" section (system.rrd) started reporting only nan values, while other graphs appear to have been unaffected. (xref [this thread](https://bbs.archlinux.org/viewtopic.php?id=197479))

The only thing I can think of that would have interfered with Monitorix' recording abilities is upgrading a variety of packages on my host system (below)

[2015-05-18 07:51] frollic opened #92 "No graphs for processes and apache"
Hi,

I'm running Monitorix 3.7.0 from Fedora repository.
Unfortunately there are issues with generating the graphs for processes and apache.

I can see monitorix collecting data in the log -

Mon May 18 09:48:00 2015 - process::process_update:
N:0.0588928150765607:121016320:31744:44724.05:140:8:0:3.38333333333333:1.25:0:0:0.0294476462917:23433216:0:21407.8:36:3:0:3.23333333333333:0.166666666666667

[2015-05-18 07:56] mikaku commented on #91
hi mgruben,

I'd say that this `[2015-05-15 21:42] [ALPM] upgraded rrdtool (1.4.9-1 -> 1.5.3-1)` could be the cause of this malfunction. I've not tested such new RRDtool version yet so it could introduce something new that Monitorix is not supporting right now.

Can you, please, paste your Monitorix log file right after the last start to see if there are some error messages that could give us a cl

[2015-05-18 07:59] mikaku commented on #92
Hi frollic,

Can you, please, say which version of RRDtool are you using there?
Also, can you check in the Monitorix log file to see if the are some error messages?

Thanks.

[2015-05-18 08:01] frollic commented on #92
rrdtool-1.4.9-1.fc21.x86_64

No errors at all, what I can see:

Mon May 18 09:31:02 2015 - Starting Monitorix version 3.7.0 (pid 13938).
Mon May 18 09:31:02 2015 - Loaded main configuration file '/etc/monitorix/monitorix.conf'.
Mon May 18 09:31:02 2015 - Entering in debug mode.
Mon May 18 09:31:02 2015 - Changed process name to '/usr/bin/monitorix -c /etc/monitorix/monitorix.conf -d all'.
Mon May

[2015-05-18 08:04] mikaku commented on #92
OK thanks, more questions ...

Are you using the HTTP built-in server or an external HTTP server like Apache, Nginx, etc.?
If you are using the default HTTP built-in Monitorix server, please, check the `monitorix-httpd` log file for error messages, and let me know.

[2015-05-18 08:16] frollic commented on #92
Hi,

I'm running apache, internal server is disabled in monitorix.conf.

Some more information, the browser displays
ERROR: while graphing /var/lib/monitorix/www/imgs/process01.1day.png: Could not save png to '/var/lib/monitorix/www/imgs/process01.1day.png'
ERROR: while graphing /var/lib/monitorix/www/imgs/process01z.1day.png: Could not save png to '/var/lib/monitorix/www/imgs/process01z.1day.png'

[2015-05-18 08:18] mikaku commented on #92
Well, it looks like a permissions issue. Please, read this FAQ:

http://www.monitorix.org/faq.html#Q120

and let me know if that helped you.
Thanks.

[2015-05-18 08:20] frollic commented on #92
[root@atlantis ~]# curl http://localhost/server-status
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html><head>
<title>Apache Status</title>
</head><body>
<h1>Apache Server Status for localhost (via ::1)</h1>

<dl><dt>Server Version: Apache/2.4.10 (Fedora) OpenSSL/1.0.1k-fips mod_fcgid/2.3.9 PHP/5.6.8</dt>
<dt>Server MPM: prefork</dt>
<dt>Server Built: Dec 17 2014 10:01:50
</dt></dl><h

[2015-05-18 08:23] mikaku commented on #92
Please, read again the FAQ.
Thanks.

[2015-05-18 08:29] frollic commented on #92
It's not a new setup of Monitorix.

All other graphs get generated and displayed, but for those for apache and processes.

-rw-r--r-- 1 apache apache 28157 May 18 10:28 net02z.1day.png
-rw-r--r-- 1 apache apache  5534 May 18 10:28 net03.1day.png
-rw-r--r-- 1 apache apache 13425 May 18 10:28 net03z.1day.png
-rw-r--r-- 1 apache apache 18260 May 18 10:28 net11.1day.png
etc ...

I can't see what I've

[2015-05-18 08:37] mikaku commented on #92
frollic,

I still think that this is a permissions issue.

Look, you probably used Monitorix with the built-in HTTP which generated some graphs with its own user and group permissions. Then, you switched to Apache but the graphs generated by the built-in server still are there and Apache has no permission to overwrite them.

Please, go to `/var/lib/monitorix/www/imgs/`, remove all the `*.png` file

[2015-05-18 09:10] frollic commented on #92
Yes and no :D

Removing all the files didn't help, but what did, was to fix the permissions on the imgs folder.
For some reason (during FC20 > FC21 upgrade, I'd guess) the permissions/owner were (re)set to
drwxr-xr-x 2 nobody nobody, changing them back to apache:apache fixed the problem for me.

What threw me off was the already existing pngs still beeing generated.
Lesson learned.

Thank you for

[2015-05-18 09:11] mikaku commented on #92
Perfect, I'll close this issue.
Thanks.

[2015-05-18 09:20] #92 closed

[2015-05-18 12:15] mgruben commented on #91
Your observation suggests that downgrading to 1.4.9-1 would fix the graphs.  Indeed, this is the case: after issuing #pacman -U /var/cache/pacman/pkg/rrdtool-1.4.9-1-x86_64.pkg.tar.xz, and #systemctl restart monitorix, the "system" graph is now properly displaying values.

I will post the requested portion of my Monitorix system.rrd file this evening, when I have more time to teach myself proper r

[2015-05-18 12:54] mikaku commented on #91
Thanks for your feedback and glad to know that all is working again.

So if I understand correctly the only graph that was affected by the new 1.5 RRDtool branch is `system`? I mean, the rest of graphs were working finely with RRDtool 1.5.3?

Just let me know.

[2015-05-18 13:23] mgruben commented on #91
As far as I can tell that is correct. I've also been trying to get the "disk" graphs working (both under rrdtool 1.4 and 1.5) for my new SSD, but I suspect the problem there exists between my keyboard and my chair.

[2015-05-18 13:29] mikaku commented on #91
OK, please, don't forget to paste the log file right after a Monitorix start, just to see if there is an error message from the `system` graph. Also, check the HTTP logfile (either the built-in server in `monitorix-httpd.log` or from your external HTTP server, depends on what are you using).

Regarding the `disk` graph feel free to ask whatever you need, either on a new issue, IRC, Mailing List or

[2015-05-18 23:24] mgruben commented on #91
`rrdtool` is getting the better of me, so I thought I'd just link you to copies of the logs I've hosted in the interest of time, see http://76.209.20.97:9997/

The relevant times are 2015-05-16, at about 11am (this is when I restarted my machine, apparently thus completing the upgrade to the `rrdtool` 1.5 branch), and 2015-05-18 at about 7am (when I downgraded to the `rrdtool` 1.4 branch)

[2015-05-19 00:32] mgruben opened #93 ""Disk drive temperatures and health" graphs empty"
"forked" from [issue 91](https://github.com/mikaku/Monitorix/issues/91).

In summary, I'm able to `# hddtemp /dev/sda` and to `# smartctl -a /dev/sda` and return Celsius temperatures for that SSD, but the Monitorix graph for Disk Drive Temperatures has only -nan values.

This time, however, -nan occurs regardless of whether with `rrdtool` branch 1.4 or branch 1.5.

Added copy of the `disk.rrd` log

[2015-05-19 01:04] cwc opened #94 "process.pm: ps regex doesn't work intuitively for names with spaces"
With the [process parsing code in process.pm](https://github.com/mikaku/Monitorix/blob/69fc360dde9472923704a5432106f5103059a74a/lib/process.pm#L173-L184) in mind, given this ps output:

[code]

The following is true:

`trim($2) == Plex`
`trim($3) == Media Serv ./Plex Media Server`

I'd offer a fix but my Perl-fu is weak. Maybe pass the ps output through `cut` somehow?

[2015-05-19 08:01] mikaku commented on #91
Thanks for sharing all this information. I think the problem is in this line:
`
Sun May 17 08:16:00 2015 - ERROR: while updating /var/lib/monitorix/system.rrd: /var/lib/monitorix/system.rrd: Function update_pdp_prep, case DST_GAUGE - Cannot convert '' to float
`

For some unknown reason there is a value that RRDtool is unable to convert to float and hence, the update process fails to save the valu

[2015-05-19 08:06] mikaku commented on #93
OK, after checking your log file I see the following lines right after starting Monitorix:

[code]

Can you, please, paste the sections `<disk>` and `<fs>` from your configuration file?
Thanks.

[2015-05-19 12:50] mgruben commented on #91
(1) Your help is much appreciated, thank you for taking the time to go through this with me,

(2)(a) In Arch linux, I modified the `monitorix.service` file in /etc/systemd/system/multi-user.target.wants to read, in part, `ExecStart=/usr/bin/monitorix -c /etc/monitorix/monitorix.conf -p /run/monitorix.pid -d system` (adding the -d system to the end, as it was not present before).  I then stopped th

[2015-05-19 13:37] mikaku commented on #91
Well, after reading your new log file I think that I have found the cause of the problem:

[code]

As you can see, there are 2 values that are undefined, and while this hasn't been a problem for the old stable branch 1.4 of RRDtool, it looks like the new 1.5. branch can't deal with it.

The above commit fixes that problem, so if you download the current `system.pm` the new RRDtool 1.5 branch shoul

[2015-05-19 13:46] #81 closed

[2015-05-19 13:59] mikaku commented on #94
Yeah ... I know, process names with spaces aren't supported. Well, from my point of view, people that name processes with spaces shouldn't exist in this planet either.

I like the way how currently is parsed because it's pretty strong to possible future changes in the columns width of the `ps` command. Substituting this by something that relies on a fixed column position wouldn't be a great idea.

[2015-05-19 22:41] mgruben commented on #91
I downloaded the 'raw' `system.pm` from the above commit into `~/system.pm`, then `# chmod 644 ~/system.pm`, `# chown root:root system.pm`, `# mv /usr/lib/monitorix/system.pm{,.bak}`, and finally `# mv ~/system.pm /usr/lib/monitorix/system.pm`

I see actual, non-NaN values in the three "System load average and usage" graphs, so on its face this commit has fixed my issue with `rrdtool 1.5.3-1`.

I

[2015-05-19 22:58] mgruben commented on #93
[code]
On occasion I have one or more external hard drives plugged in, which become `/dev/sdb` and `/dev/sdc` respectively, and one of which is occasionally mounted to `/mnt/4TB`

[2015-05-20 06:23] mikaku commented on #91
Perfect, thanks for your feedback.
Best regards.

[2015-05-20 06:23] #91 closed

[2015-05-20 10:33] mikaku commented on #93
If you configure a device name that won't be permanent in the system, then you must set the option `accept_invalid_disk` to `y` in the configuration file.

Please, read the `monitorix.conf(5)` man page.
Thanks.

[2015-05-20 10:33] #93 closed

[2015-06-09 13:50] BenoitSvB commented on #77
@mikaku
Hi Jordi,I encounter this error too it seems.

Monitorix 1.7 on Ubuntu mate 15.04 for Raspberry pi 2
rrdtool 1.4.8
/etc/monitorix/monitorix.conf enable_zoom = y global_zoom = 1

tail /varlog/monitorix
Argument "IPI0" isn't numeric in numeric lt (<) at /usr/lib/monitorix/int.pm line 1015.
Argument "IPI0" isn't numeric in numeric gt (>) at /usr/lib/monitorix/int.pm line 873, <IN> line 15.
Ar

[2015-06-10 07:20] mikaku commented on #77
@BenoitSvB

Thanks for your feedback, I'll put hands to work as soon as possible.
Regards.

[2015-06-17 14:56] mikaku commented on #94
@cwc,

Just let me know if that patch works as you expected.
Thanks.

[2015-06-24 10:26] frollic opened #95 "support for Network UPS Tools (NUT) using upsc"
the command will output a set of values about the UPS and the batteries:

[root@boxs ~]# upsc powerwalker@localhost
battery.charge: 100
battery.voltage: 26.90
battery.voltage.high: 26.00
battery.voltage.low: 20.80
battery.voltage.nominal: 24.0
device.type: ups
driver.name: blazer_usb
driver.parameter.pollinterval: 2
driver.parameter.port: auto
driver.parameter.synchronous: no
driver.version: 2.7.3

[2015-06-25 16:03] mikaku commented on #95
I'll check if the values are similar to those collected from `apcupsd`, so I could use that graph as base during the development.

Thanks.

[2015-06-27 23:47] uraymeiviar commented on #94
![screen shot 2015-06-28 at 6 46 09 am](https://cloud.githubusercontent.com/assets/4237078/8394425/7950496e-1d61-11e5-9f7a-828d35c4e1a0.png)

seems to work, thanks for patch

[2015-06-29 08:31] mikaku commented on #94
@uraymeiviar,

Thanks for your testings.
I'll close that issue.

[2015-06-29 08:31] #94 closed

[2015-07-03 14:40] g6323117 opened #96 "Support of Exim4"
Any possibility of supporting Exim4?

Maybe pflogsumm (Postfix) --> eximstats (Exim4)?

Thanks!!

[2015-07-06 07:23] mikaku commented on #96
Hi,

As long as Exim4's `eximstats` give the same valid and consistent information than Sendmail's `mailstats` and Postfix's `pflogsumm.pl`, I don't see any reason why it couldn't be supported.

[2015-07-06 15:33] g6323117 commented on #96
Hi,
Here are some documentation, usage and sources of eximstats.
I'm pretty sure that it can output valid and consistent information just like mailstats.
I'm not that good at Perl, but I'm willing to help.
Let me now if you need a hand.

http://www.exim.org/exim-html-current/doc/html/spec_html/ch-exim_utilities.html#SECTmailstat
https://github.com/Exim/exim/blob/master/src/src/eximstats.src
http:/

[2015-07-09 08:21] mikaku commented on #96
Could you, please, pastebin (or send to me via email) the output of the `eximstats` command?
I need to figure out how it looks on a real environment with real data.

Make sure to hide all the sensible information.
Thanks.

[2015-07-13 15:34] mikaku commented on #95
I've created a new `nut.pm` module that collects almost the same information as the `apcupsd.pm` module but using the `upsc` command line.

Please, download it and let me now if it works as you expected.
Thanks.

[2015-07-13 16:43] frollic commented on #95
Thnx!

How should I use it ?
Simply replace the apcupsd.pm with this one ?

[2015-07-13 17:06] mikaku commented on #95
No, just download the new `nut.pm` module and update your current `monitorix.conf` accordingly.

Please, take a look to the commit (above) to see the files that has been touched.
Regards.

[2015-07-14 15:47] frollic commented on #95
Seems to work just fine!

![nut](https://cloud.githubusercontent.com/assets/7432497/8677627/6ac515ea-2a50-11e5-9c61-feae5c3cd1a7.jpg)

[2015-07-14 16:15] mikaku commented on #95
Seems like your UPS lacks of some statistical data, anyway, looks nice.
I'll correct the shift in the values of the two main graphs.
Thanks.

[2015-07-14 16:15] #95 closed

[2015-07-17 20:11] mgruben opened #99 "Unable to detect the device name of '/'"
So I have a [Beyond-Linux-From-Scratch] (http://www.linuxfromscratch.org/blfs/view/7.7/) setup, on which I've compiled the dependencies for `Monitorix`, and installed `Monitorix` from the tarball.  I am able to view a functioning host:8080/monitorix webpage, which refreshes properly.

However, my {Disk,Time Spent in} I/O Activity graphs are empty unless I set a `<devmap>`.  I'm mainly curious why

[2015-07-20 14:22] mikaku commented on #99
For an unknown reason Monitorix is unable to detect the device name of your root filesystem. For theses exact cases the `<devmap>` option was invented.

Can you, please, check if `/dev/root` is a symbolic link and if so, what is the device that points to?
Thanks.

[2015-07-21 20:36] johnnyrlq opened #100 "WOWZA with restricted access"
First of all thank you for the great job with MONITORIX.
I have installed MONITORIX to monitor my WOWZA server but I have some observations:
When I set up the wowza URL with "http://wowzaIPserver:8086/connectioncounts"
 It works great.

    <wowza>
        list = http://wowzaIPserver:8086/connectioncounts
        <desc>
                http://wowzaIPserver:8086/connectioncounts = live1, live2

[2015-07-22 09:47] mikaku commented on #100
Can you, please, paste the error messages in the log file?
Thanks.

[2015-07-22 17:23] johnnyrlq commented on #100
Dear @mikaku thank you for your response.
Finally it works but I have to make some changes.
I found some reference here:
    http://www.wowza.com/forums/showthread.php?15165-get-connectioncounts-from-perl-for-accumulation

In the file /usr/lib/monitorix/wowza.pm, I hardcoded with parameters "username" and "password".
It could be much betther adding this parameters in the config file (/etc/monitori

[2015-07-23 08:57] mikaku commented on #100
I think that modifying yourself the code isn't the best approach since it will be force you to modify it again on every Monitorix update.

I'm working on a patch that will work just sub-classing LWP::UserAgent without changing the current configuration in `monitorix.conf`. It's based on this <http://perlmaven.com/lwp-useragent-and-basic-authentication>.

I'll update `wowza.pm` in the next hours. S

[2015-07-23 20:44] #100 closed

[2015-07-23 21:07] johnnyrlq opened #101 "Range of Dates"
HI,

Is it possible to create graphs with range of date using monitorix.cgi?

Thank you.

[2015-07-24 06:27] mikaku commented on #101
No, in fact any value other than day, week, month or year (plus extended years) won't offer the data resolution you'd expect.

You can test that just changing the number `1` before the `day`, or `week`, etc. by any other number.
Regards.

[2015-07-30 02:01] mgruben commented on #99
Apologies for the late reply, just started a new job.

`/dev/root` does not exist (either on the blfs system which is the topic of this thread, or on an Arch Linux system I also have which doesn't require the use of `<devmap>`):
[code]

[2015-07-30 06:50] mikaku commented on #99
Well, now you have the answer. Monitorix is unable to find the real device name where the root filesystem is mounted because `/dev/root` doesn't exist.

I can't reproduce this in my systems, so unless you know a way to detect the real device name in such scenarios, you'll have to use the `<devmap>` alternative to help Monitorix.

Regards.

[2015-08-01 15:13] #101 closed

[2015-08-02 20:37] medevul opened #102 "Postgrey (Postfix Greylisting)"
Needs support for a commonly used greylisting feature found with Postfix. Information on Postgrey can be found at it's home page, http://postgrey.schweikert.ch/

evul

[2015-08-05 06:46] mikaku commented on #102
Hi,

Since I don't know anything about this tool, I need to know how different it is from the `milter-greylist` tool currently supported by Monitorix.

So, what are the statistical values offered by this Greylisting tool?
Thanks.

[2015-08-05 11:58] frollic opened #103 "support for digitemp temp (and other) sensors"
1-Wire temp (and other values) sensor application, reads the temps of
USB based thermometers.

there are three binaries -
digitemp_DS2490
digitemp_DS9097
digitemp_DS9097U
which are used for different kinds of serial port adapters.
http://linux.die.net/man/1/digitemp

the adapters all have an unique ID (like a MAC address), and are (at least in my case)
accessible via a /dev/tyyUSB? device.

The ap

[2015-08-09 00:01] sh3llsh0ck opened #104 "Request: JSON API"
Is there any plans for making a JSON API ?

[2015-08-10 14:21] mikaku commented on #104
A JSON API? what part of Monitorix you think you need an API?

[2015-08-13 07:56] sh3llsh0ck commented on #104
This could help if you would like to import data related to your server in
a custom chart or generating a report etc.. It would be helpful if there is
such a feature in Monitorix

[2015-08-13 09:00] ingsoc commented on #84
Would be a welcome addition. +1

[2015-08-13 11:04] mikaku commented on #104
I still don't see the goal here, sorry, since it's Monitorix who actually collects the statistical data directly from the system.

[2015-08-23 16:15] Tarjaizaid opened #105 "Some issues"
Hello Mikaku

i've some issue

I've a Debian jessie recently installed.

After have installed Monitorix from git, i've some issue

- error on startup

i have not changed configuration file and no file in conf.d but when monitorix start :

Sun Aug 23 17:30:38 2015 - Starting Monitorix version 3.7.0 (pid 10843).
Sun Aug 23 17:30:38 2015 - Loaded main configuration file '/etc/monitorix/monitorix.conf

[2015-08-24 18:12] JaimeObregon commented on #104
I'd suggest at least taking this into consideration, as it would allow a greater ability to extend and customize Monitorix, and easily build a centralized status board for those, like us, monitoring multiple servers.

One possible approach is to decouple the sensors (actual measurement) from the action (updating RRDtool databases), allowing different triggers: one being the current database update

[2015-08-24 18:19] JaimeObregon commented on #53
+1. This reminded me of a HTML5 Bootstrap based theme I made for a different charting script. It has nothing to do with Monitorix, on at the end it's basically the same: an eye-candy wrapper for RRD charts: https://mailstats.iteisa.com

HTH. As @lorenzos, I'm fluent on frontend dev, but illiterate on Perl...

[2015-08-26 17:40] JaimeObregon commented on #53
I've made some progress on this and came up with a modern HTML5 template based on Bootstrap, jQuery and some JavaScript. This template is easy to extend, customize and translate (it's written in English), but it will require some work in Monitorix to decouple the current embedded HTML markup from the Perl files, as @lorencos initially suggested.

![screenshot](https://cloud.githubusercontent.com/a

[2015-08-26 17:49] JaimeObregon commented on #104
A possible low-quality workaround for this is basically to expose the `.rrd` files to Monitorix' built-in web server, then fetching them via HTTP from the third party service and consuming the data with `rrdtool`. It's far from perfect, but it enabled me to build a centralized dashboard for multihost monitoring: https://github.com/JaimeObregon/monitorix-board

![screenshot](https://cloud.githubuse

[2015-08-29 10:46] mikaku commented on #104
Well ... exporting data, of course, is a new option. I thought **sh3llsh0ck** was talking on importing data to Monitorix which indeed it doesn't makes any sense to me.

In the other hand, I don't think Monitorix should connect to an external URL to leave the exported data there since it would be exposed to connection failures. I mean, I think this is not a job for a daemon. Instead, it would be be

[2015-08-29 10:56] mikaku commented on #53
@JaimeObregon,

Thanks for your ideas, they are very valuable and welcome.

I think that we should keep the current Monitorix view since it's pretty lightweight and it's perfect for people that don't want full bloated web interfaces. Instead, we should let the user choose the Monitorix web interface by setting a new option in the configuration file. Something like `user_interface = classic` or `us

[2015-08-31 16:44] lippling commented on #84
+1

[2015-09-01 14:34] mikaku commented on #105
The above commit should fix the first sub-issue.

[2015-09-01 14:36] mikaku commented on #105
The commit below should fix the second sub-issue **ipv6**

[2015-09-01 15:04] mikaku commented on #105
Regarding your third sub-issue **Configuration file parsing**, I don't understand what are you trying to say. Keep in mind that extra configuration files are loaded **after** the main configuration file, so it means that any option in the main configuration file will be overwritten by the same option in the extra configuration file.

Regarding your last sub-issue **Installation with MakeFile**, yo

[2015-09-01 15:13] graysky2 commented on #105
Well, the problem with Ubuntu/Debian in this context is there are older, legacy build out there that do not use systemd even though current ones do.  The Makefile should be flexible enough to allow users both options (systemd or legacy init systems).

[2015-09-01 15:45] mikaku commented on #105
@graysky2,

Thanks for your quick answer, I'm agree with you.
Regards.

[2015-09-02 16:47] #99 closed

[2015-09-03 09:00] morfikov opened #107 "ERROR: while updating /var/lib/monitorix/system.rrd"
Something's wrong with the system graph module. The following is what I get after starting monitorix:

	Thu Sep  3 10:49:19 2015 - Starting Monitorix version 3.7.0 (pid 119663).
	Thu Sep  3 10:49:19 2015 - Loaded main configuration file '/etc/monitorix/monitorix.conf'.
	Thu Sep  3 10:49:19 2015 - Loading extra configuration file '/etc/monitorix/conf.d/00-debian.conf'.
	Thu Sep  3 10:49:19 2015 - I

[2015-09-03 09:11] mikaku commented on #107
@morfikov,

Yes, there was a bad initialization in a pair of values not accepted by the new RRDtool 1.5 version. This has been already fixed in the current development version (issue #91).

To know all the changes made in the current development version, just check the Changes file <https://github.com/mikaku/Monitorix/blob/master/Changes>.

Thanks anyway for your feedback.
Regards.

[2015-09-08 07:39] #107 closed

[2015-09-10 17:17] Evrus opened #108 "Icecast 2.4.x"
Icecast Streaming Media Server (icecast.rrd) not work.
http://radio.eve-play.ru:8000/status.xsl

[2015-09-14 10:06] mikaku commented on #108
@Evrus,

It works for me:

![icecast](https://cloud.githubusercontent.com/assets/829885/9847402/e454f444-5ad8-11e5-9466-7390c0823d05.png)

This is my setup:

[code]

[2015-09-14 10:32] mikaku commented on #108
I've seen that the color of some values in the `Current listeners` are hidden (covered) by the color of the first value (this picture has the colors fixed):

![icecast](https://cloud.githubusercontent.com/assets/829885/9847855/6d19702c-5adc-11e5-9165-9670118ec3f9.png)

The following commit fixes this bug.
Regards.

[2015-09-14 16:19] #108 closed

[2015-09-15 10:58] frollic commented on #103
... or a generic monitor that would allow execution of an user difined binary/script and simply interpret the returned data (for instance temps), and treat them like any other monitorix graph.

[2015-09-16 17:29] mikaku commented on #103
@frollic,

I don't understand clearly how it works, sorry.

In the Digitemp web site there is a graph that shows temperatures from different parts of a house (office, basement, garage, etc.), how is supposed to extract such different values having only a `/dev/ttyUSBn` device?

Probably I'm missing something in your explanation.

Also, I can't have such binary here so it will be really difficult t

[2015-09-16 21:11] graysky2 opened #109 "Redundant argument in sprintf at /usr/bin/monitorix line 455"
Running 3.8.0-1 on Arch linux.  Seems as though this is a old warning message that doesn't affect output.
[code]

The update to 3.8.90 took place Sep 16 as you see.

[2015-09-16 21:31] graysky2 commented on #109
...great job with 3.8.0 by the way.  The du addition is very nice.

[2015-09-17 13:37] mikaku commented on #109
Looks like your Perl offers more verbosity than mine (probably older than yours).
The following commit should fix it. Please, apply the patch and let me know.

Thanks

[2015-09-17 15:57] #109 closed

[2015-09-17 16:42] graysky2 commented on #109
[code]

[2015-09-18 10:04] frollic commented on #103
.... details :)

You're not. Monitorix would simply collect from the sensors attached to the system
it was running on (but there *are* ways of extending USB over a LAN, if one would
want to do that).

You don't really have to have the binary.

If you're creating a "generic" interface, just write a script that will return a random
temp (or whatever numeric value) to monitorix when executed. Whateve

[2015-09-18 10:12] frollic commented on #103
bleh, tags and some of the "settings" got wiped by github :(

script_0 = /usr/local/bin/tempUSB0.sh
script_1 = /usr/local/bin/tempUSB1.sh

got wiped as well

[2015-09-22 11:33] skibbipl opened #110 "Use of uninitialized value in lc at /usr/lib/monitorix/port.pm"
Hello,
After upgrading to 3.8.0 on my debian server I started getting follwoing errors in monitorix.log:
`Use of uninitialized value in lc at /usr/lib/monitorix/port.pm line 222.`
`Use of uninitialized value in lc at /usr/lib/monitorix/port.pm line 252.`
There are no other errors that might direct me what is wrong. I doublecheck my ports config, and it seems to be correct according to documentatio

[2015-09-22 13:59] mikaku commented on #110
@skibbipl,

The following commit should fix that annoying message, please let me know.
Thanks.

[2015-09-22 21:58] skibbipl commented on #110
Yes, this seems to fix this issue. Thanks!

[2015-09-22 21:58] #110 closed

[2015-09-23 06:40] frollic opened #111 "fail2ban what units are used in the graphs ?"
they say 0 - 400 m, what is m, mili ?

![fail2ban1z 1day](https://cloud.githubusercontent.com/assets/7432497/10038973/dbf8e796-61cd-11e5-8529-631867b4864f.png)

which matches the fail2ban log:
2015-09-23 02:00:49,139 fail2ban.actions        [1661]: NOTICE  [sshd] Ban 183.146.46.224
2015-09-23 02:57:47,284 fail2ban.actions        [1661]: NOTICE  [sshd] Ban 176.31.128.45
2015-09-23 03:56:21,717 fail

[2015-09-23 10:18] mikaku commented on #111
You should keep in mind that these values are averages, and in that case they are averages of **bans/s** as stated in the y-axis title. Well, in fact they aren't bans per second, but bans per minute. I'll change this that title to **bans/min**. But your question is the same.

As you can see, your values are around 0.5m which could be translated as from 0.5 *millibans* (as in milliseconds; 1 second

[2015-09-23 20:02] Tarjaizaid commented on #105
@graysky2 good idea :+1:

@mikaku
For "Configuration file parsing", ok for your explanation, however, i think there are a issue.

I've settings for process module on my own configuration file.
process = y
and custom conf
<process>
        <list>...
</process>

when i look http page, i see the graph provided by monitorix.conf
<process>
        <list>
                0 = httpd, sshd,....
</process>

[2015-09-23 20:32] Tarjaizaid commented on #105
this is weird, i have the same options on another server but without the issue.

[2015-09-24 07:59] mikaku commented on #105
Oh, now I understand it.

It could be indeed a problem when showing graphs and having multiple configuration files, because `monitorix.cgi` only loads the main configuration file based in the file `/var/lib/monitorix/www/cgi/monitorix.conf.path`.

This is indeed a bug.

I'll fix that bug just appending all extra configuration files in `monitorix.conf.path`.

[2015-09-24 08:17] mikaku commented on #105
Nah ... sorry. That was a false alarm, I don't see any bug here.

The file `monitorix.cgi` loads correctly the extra configuration files right after loading the main configuration file using the path provided in `/var/lib/monitorix/www/cgi/monitorix.conf.path`.

Please, double-check your Monitorix installation and your Monitorix log file to see if there are some error messages on this.

Thanks.

[2015-09-26 11:57] Tarjaizaid commented on #105
Hello,
I've found :), I made a mistake.  i used the number "1" for "<process> <list>"on my own configuration file and monitorix parse the 0 "sequence" on the monitorix.conf.
this isn't an issue :) Sorry

[2015-09-26 18:20] mikaku commented on #105
OK, so if all is correct, please, close this issue.
Thanks.

[2015-09-27 12:47] #105 closed

[2015-10-01 15:29] mmattel opened #112 "Directory Usage - filecount"
It would be great to have the ability to add to a directory to be monitored not only the directory size but also the number of files.

Usecase: when you eg monitor a /tmp or a up/download directory, it is not only useful to know what the current used size is, but also how many files are currently present.

[2015-10-02 17:54] marcgbs opened #113 "Icecast - single graphic per mountpoint / mountpoints order"
Hello and thanks for sharing this project. I'm testing Monitorix as a monitoring tool for Icecast. I have it running on a local test server with Ubuntu 14.04 and Icecast 2.3.3.

I would like to generate a single graph for every single mountpoint. Is it possible?

Also, I would like to ask what happens if one of the mountpoints disconnects. I assume when one of the streams get disconnected and auto

[2015-10-03 16:54] mikaku commented on #113
Hello,

Having a single graph for every single mount point is a waste of screen space, but of course, you are able to do it.

The problem is that each mount point must have a different URL to be defined in the `list` option, otherwise you won't be able to do that because you'll end up repeating the same URLs, which would be a configuration error.

I hope that helped you.
Regards.

[2015-10-05 15:57] marcgbs commented on #113
It helped!! Thank you Jordi.

I've set as much subdomains as mountpoints, all pointing to the same server. Now Monitorix is tracking every mountpoint's statistics in a separate graph.

I send you a copy of my configuration just in case anyone else is wondering how it works.

-----------------------------------

# ICECAST graph
# ---------------------------------------------------------------------

[2015-10-05 15:59] mikaku commented on #113
Glad to be of help.
Thanks.

[2015-10-05 15:59] #113 closed

[2015-10-06 10:16] mmattel opened #114 "Use of uninitialized value in lc at"
Monitorix version 3.8.0

The log of monitorix shows me two issues:

[code]

[2015-10-06 10:24] mmattel commented on #112
Forgot to mention, as parameter to a directory of course...

[2015-10-06 10:29] mikaku commented on #114
This is already fixed in the closed issue #110.

[2015-10-06 10:52] IzzySoft opened #115 "Make "Serv Graph" adjustable"
Is it possible to adjust the "Serv Graph", which currently seems to be fixed to "those 7 services"? In my case, it makes absolutely no sense for it to list FTP, Samba, Telnet, Fax, and CUPS, as those
services are not running on the machine (we could argue about Telnet in general, and I'd say the majority won't have it) – so only 2 out of 7 services (SSH, Fail2Ban) make sense to me at all. I'd rath

[2015-10-06 10:57] IzzySoft opened #116 "Feature to load each segment separately"
On "small devices" (e.g. Raspi, Banana Pi), page loading takes "ages" – most likely as the graphs are created on request, and only sent to the browser once they're all complete. I'd suggest two possible improvements:

* give each graph/section a link/switch to just reload that one (I often find myself in the situation where the page was already opened a while ago, an I just need to re-check a sing

[2015-10-06 11:07] mmattel commented on #114
havn´t seen that,
great tool !
thx

[2015-10-06 11:07] #114 closed

[2015-10-06 12:23] skibbipl opened #117 "Process statistic not displaying network usage for some processes"
I've configured process statistic like this:
[code]
But I'm getting empty graph for services in list 0:
![process04z 1day](https://cloud.githubusercontent.com/assets/4746858/10308320/39a04e5e-6c35-11e5-8bef-123cb23bed8a.png)

There are no errors in monitorix log. I'm using debian unstable. At least postgres should generate some network traffic, as it is configured as destination server for databas

[2015-10-06 13:08] IzzySoft commented on #117
Chiming in: on one of my machines, Monitorix seems unable to detect the apache2 process data in this segment (while the dedicated Apache stats show up fine). Also no errors in the logs. I doubt Apache is using no memory at all (all values there show "0" for Apache – while sshd, ntpd, MySQL and clamd show reasonable values). Apache shows "0" for ***all*** process stats, as if it wouldn't be running

[2015-10-06 13:22] mikaku commented on #9
I've not seen problems anymore and I'm unable to reproduce it, therefore I'll close this issue.
Please, re-open it if the problems continue.

[2015-10-06 13:22] #9 closed

[2015-10-06 13:50] mikaku commented on #117
Monitorix uses the command `ps -eo pid,comm,command` to detect the PID of the process name you defined in the `<list>` block.

@skibbipl,

Please, make sure that the names you defined in `list 0` match with the real names of the process you are trying to monitor. Also, once you know the PID of one of these processes, please, pastebin the contents of the file `/proc/<PID>/io`, just to make sure it

[2015-10-06 15:18] IzzySoft commented on #117
For Apache it works with the very same configuration on my other servers (Debian Wheezy and Ubuntu 12.04 – the one not working is on Bananian, which is based on Wheezy).

I did so, see my post again: "configured as `amavisd-new`".

[code]

Makes 3 processes – Monitorix lists 0 processes, 0 threads. Apache: "my config has it as `apache2`"

[code]

As I wrote, all values for Apache in the process st

[2015-10-06 15:39] mikaku commented on #117
@IzzySoft,

If you get this:

[code]

then you should configure it as `/usr/sbin/amavi`, or use the complete command `/usr/sbin/amavisd-new (master)`, or `/usr/sbin/amavisd-new (ch2-avail)`.

The same for Apache, use `/usr/sbin/apach` or `/usr/sbin/apache2 -k start`.

Monitorix first compares your process name string with the string in the `comm` column. If nothing matches there then it attempts b

[2015-10-06 16:41] IzzySoft commented on #117
@mikaku

So with the Apache example, if I configured it as `apach`, it should match both columns (substring) – or must it be a "complete match" (full string must be equal)?

I've experimented a little with your `ps` command – looks like I have to live with the work-around, as the `comm` field is buggy in Debian Wheezy ARMHF: no matter what, it always puts `/usr/sbin/apach` (though according to the

[2015-10-06 21:02] IzzySoft opened #118 "Mail Graph enhancements"
Taking a look at the "Mail Statistics" graph, I miss a few "lines" – which could be either integrated into the "main graph" (top-left), or outsourced to a new graph: Details on rejected messages. I'm using Postfix, so my examples will refer to that.
- **Spamtraps:** Thanks to my little honeypot (and some "old abused addresses"), I've setup spamtraps via `smtpd_recipient_restrictions` with `check_r

[2015-10-07 06:16] mikaku commented on #117
No, Monitorix don't makes use of substrings, it uses a simple comparison.

The column `comm` is 15 characters wide. That's not a bug, but a kernel feature. :)

Actually the `monitorix.conf(5)` man page has the following commentary on this:

*Monitorix  uses  the  following  command  to  find the processes listed in this option:*
`# ps -eo pid,comm,command`

It's not a problem for me to change it b

[2015-10-07 07:58] skibbipl commented on #117
I use `Linux server 4.2.0-1-amd64 #1 SMP Debian 4.2.1-2 (2015-09-27) x86_64 GNU/Linux` kernel
I've checked my config and had to replace httpd with apache2. But still I can't get any network info. Here are my results:
[code]
and corresponding io stats:
[code]

[2015-10-07 08:35] mmattel opened #119 "Feature request: adding nfsiostat"
It would be great to be able to monitor NFS IO statistics.
Pls see: http://manpages.ubuntu.com/manpages/trusty/en/man1/nfsiostat.1.html

[2015-10-07 08:51] mmattel opened #120 "Feature request: adding cifsiostat"
It would be great to be able to monitor CIFS IO statistics.
Pls see: http://manpages.ubuntu.com/manpages/trusty/en/man1/cifsiostat.1.html
For Ubuntu, cifsiostat is part of the package: sysstat

[2015-10-07 08:58] mikaku commented on #117
@skibbipl,

Thanks for the information provided.

You are not getting *any* data in the network graph *only* for Apache? or you are getting a complete blank network graph? (which would mean that Monitorix is not collecting network information for any process).

Also, in order to make sure that the file `io` has not changed in the latest kernel, can you please, edit that file (with `vi` preferably)

[2015-10-07 09:12] skibbipl commented on #117
Yes, I'm not getting any data. In fact I discovered that monitorix probably gets some data just between daemon reatarts (see the spikes - it's when I restarted service):
![process04z 1day](https://cloud.githubusercontent.com/assets/4746858/10333444/4af9772a-6ce4-11e5-8748-c838a1abd2a1.png)

[2015-10-07 09:15] mikaku commented on #117
@skibbipl,

Can you please set the option `show_gaps` to `n`?
Just to make sure that there is any problem while plotting data.

[2015-10-07 09:36] skibbipl commented on #117
Yep, switching show gaps fixed the problem.

[2015-10-07 09:38] mikaku commented on #117
OK, I'll concentrate on this.
Thanks.

[2015-10-07 10:00] mikaku commented on #117
I've just discovered that the values collected for the network graph are sometimes negatives, which would mean that such values are not as accurate as they should. Perhaps it's time to not use the `io` file anymore and use another source of information.

[code]

Here the value `-354.266666666667` belongs to the network data. Such negative value will be converted automatically to `NaN` by RRDtool.

[2015-10-07 11:19] mikaku commented on #117
@skibbipl,

I've find out the cause of these negative values. When Monitorix collects data on every minute, it may be processes, like Apache, that have more than one process (i.e. it has threads), and Monitorix summarizes all together. That's correct.

Then on the next minute, it repeats the procedure and after summarizing the network usage of all Apache processes, Monitorix subtracts the value of

[2015-10-07 11:21] IzzySoft commented on #117
@mikaku

As you prefer :) I was suggesting that short comment directly in the config. And with your latest feedback, I'd even change my message a little:

[code]

You could add something like "for details, see "man 5 monitorix.conf", of course :)

[2015-10-07 11:25] mikaku commented on #117
@IzzySoft,

Your last message is much better and really clarifies things. :)

I don't like to put commentaries in the config file because after certain number of updates people may have old configuration files without those commentaries reflected there in.

Let's put it in the man page which is where people should refer for these and other things.

[2015-10-07 11:35] IzzySoft commented on #117
@mikaku

Not sure that's 100% correct then. Playing an example

[code]

According to your note, that would be a "peak" at snap-1, while reporting "zero traffic" for 2+3 – which doesn't really reflect reality. Still:

Agreed with that, so we definitely can count it an improvement. Remaining question is still if we can do better (without too much overhead, such as remembering each PID for comparison

[2015-10-07 13:17] mikaku commented on #117
@IzzySoft,

LOL, didn't even remember the existence of that line!

[2015-10-07 13:30] IzzySoft commented on #117
@mikaku To be honest: neither did I. I just wanted to ask you having at least that included, when – shame on me! – I found it was already there :)

Thanks for the update to the man page – yes, no doubts left now I'd say.

[2015-10-13 02:57] acranox opened #121 "more flexible disk temperature sensing"
I replaced a spinning disk with a new SSD, and apparently it reports the temperature on smart ID 190 instead of 194.

190 Airflow_Temperature_Cel 0x0032   068   058   000    Old_age   Always       -       32

So monitorix isn't picking this up.  Can some logic be added to use this value instead of what's in 194 if it's not available?

[2015-10-13 13:39] mikaku commented on #121
Wouldn't be more readable the code inserting the **190** `if` right before the **194** `if` as an standalone condition?

This way the code flux would be; try first to see if there is the **190**, if not, then try with **194**, and if not, then try with `Current Drive Temperature`.

Just like this:

[code]

What do you think?

[2015-10-13 17:38] acranox commented on #121
I'm guessing value **194** is the preferred value, so maybe **190** can be the first fallback, and then **Current Drive Temperature**  (although i'm not sure where that comes from.)
I'm not really sure if there's a norm around which manufacturers use which SMART fields.

[code]

[2015-10-13 17:48] mikaku commented on #121
I'm not sure if manufacturers follow all standards ;)

Anyway, it's fine for me, no problem to have **190** as the first fallback, so remove your current pull request and do a new one with this schema and I'll be glad to merge it.

Thanks.

[2015-10-14 10:50] cleas opened #123 "Use of uninitialized value in lc at /usr/lib/monitorix/port.pm line 252"
config file should have a value for ipv6_disabled or default value

[2015-10-14 12:49] mikaku commented on #123
This is already fixed in the closed issue #110.

[2015-10-14 12:51] #123 closed

[2015-10-15 16:05] mikaku commented on #118
I don't see room for another small graph without breaking the layout, so I think that the best approach would be to include the new stats in the *main graph* (top-lef) which there are some blank lines waiting for more data.

Currently stats for Postfix MTA are collected using the command `pflogsumm`, so as long as those new values (**Spamtraps** and **RBL**) appear in its output it shouldn't be mu

[2015-10-15 19:59] IzzySoft commented on #118
I doubt the Spamtraps will appear (custom rules), while I think RBL might. I'm aware it's currently done via `pflogsumm` (as an error message told me Monitorix needed it) – so if you let me know a command to test with, I can do so as soon as both are hit (which I expect will start next week, when I've migrated the next domain to the new server).

[2015-10-16 08:17] mikaku commented on #121
Thanks.

[2015-10-16 08:17] #121 closed

[2015-10-17 15:07] IzzySoft opened #125 "Minor reminder: deprecated pflogsumm parameters"
I was just debugging the issue why my mail graphs remained empty (yuck, it's `/var/log/mail.log` on Debian at least, not `/var/log/maillog` – is it really `maillog` anywhere or is that a typo? If typo, please fix – otherwise have me fix it for the `debian.conf` ;). Running the precise command as used in `mail.pm` yields some warnings (nothing fatal *yet* – everything keeps working):

[code]

You m

[2015-10-18 20:01] IzzySoft commented on #118
Update: My doubts were correct: Spamtraps show just in their action (e.g. "6   discarded (4%)" with my configuration). To figure it was a Spamtrap would require parsing the maillog. I assume for RBL it will be similar, and those would only turn up in the "rejected" sum.

If you consider parsing the logs:

[code]

would be the regex for RBL with Postfix. Spamtraps are realized via custom config, an

[2015-10-19 09:41] IzzySoft commented on #118
@mikaku I've added another item to my initial post about the missing "SPF permerror" in the SPF graph. At least with that it's clear where it should go. As I pointed out there, with the Postfix `postfix-policyd-spf-perl` solution, those are currently dealt with as "softfail" – which is better than not being dealt with at all, but not really correct.

[2015-10-19 13:31] mikaku commented on #118
Monitorix already parses the logs in order to collect specific entries like `MailScanner`, `Amavis`, SPF stuff, etc. Therefore it shouldn't be difficult to collect RBL entries if they are consistent and belong to a specific MTA (Sendmail, Postfix, etc.).

Just, please, specify which log entries Monitorix should collect for RBL and I'll add that value in the graph.

[2015-10-19 13:36] mikaku commented on #125
On RedHat Linux systems (RHEL) and derivatives (CentOS, Fedora, SEL, etc.) the filename of the mail log is `/var/log/maillog`. Just change your configuration file and set the `mail_log` option accordingly to your system.

Regarding the deprecated options, could you please provide the version of your `pflogsumm` tool.
Thanks.

[2015-10-19 16:29] IzzySoft commented on #118
As specified in [this post](https://github.com/mikaku/Monitorix/issues/118#issuecomment-149042392), an RBL regex for Postfix looks like this:

[code]

with the first `\d+` being the pid, and the second the client IP. Example for an SPF permerror:

[code]

(only the relevant part). Again, Postfix – and `postfix-policyd-spf-perl` as SPF policy daemon in this case. Spamtraps would need either a confi

[2015-10-19 16:33] IzzySoft commented on #125
`pflogsumm` version: 1.1.5-1 (on Debian ARMHF) – and I've adjusted the `debian.conf` accordingly, as I already figured the same (i.e. that `/var/log/maillog` is not a typo but indeed used on several systems). So the `.deb` for the next release will have that fixed without affecting other systems :)

[2015-10-22 10:16] mikaku commented on #125
RHEL 6 (genuine) systems (and derivatives) still are using `pflogsumm` version 1.1.1 which wouldn't work anymore if we change to the newer parameters.

If these *warning* messages are not annoying you much I'd prefer to not change them for now, otherwise that would break a lot of current systems running Postfix.

That's great! :)

[2015-10-22 12:02] IzzySoft commented on #125
Fine with me – and no, they don't annoy me as I usually don't see them (you have them `/dev/null`ed, I just encountered them executing the commands manually without the "devnulling"). I'd say just leave the issue open and set a "higher milestone" (or label), so it doesn't get lost – then check again in a year or so?

[2015-10-22 13:38] mikaku commented on #125
Well, in fact as soon as these old parameters are not more accepted by `pflogsumm` I'll know it immediately by people using Postfix. Anyway, let's keep it open.

[2015-10-27 16:48] k3a opened #126 "Make possible to monitor more than one nginx server"
Is there any technical reason why only one Nginx server can be monitored?
There is "list" parameter for Apache and Lighttpd but unfortunately no for Nginx.

[2015-10-28 14:21] mikaku commented on #126
Since Nginx doesn't offer any network usage statistics, Monitorix needs to use `iptables` which will only work on local installations. The graph assumes you only have one instance of Nginx running in the same system.

I don't know if newer Nginx versions already show network usage in its stats, if so, I could introduce the `list` option in order to support remote Nginx installations.

[2015-11-04 17:13] k3a commented on #126
Ah, I see. The standard 'stub_status' doesn't include any traffic data and there is a 'status' extension which is only part of Nginx Pro. Closing the task then.

[2015-11-04 17:13] #126 closed

[2015-11-17 00:10] kecksk0enig commented on #74
totaly forgot about this:
Yes. that would be perfectly reasonable.
One schould also be able to rename the pfifos since pfifo 20 is no good of a name :)

[2015-11-23 05:13] Darkhand81 opened #127 "Issues with reading from smartctl in the disk graph"
The disk graph reads from smartctl to get drive temps, reallocated sector counts, etc.  Per the [smartctl man page](http://linux.die.net/man/8/smartctl), certain device types need to be manually specified in the smartctl command line in order for them to be read.  The Monitorix drive module needs the ability to optionally specify switches that can be passed to smartctl.

For example, I have SATA d

[2015-11-23 09:03] mikaku commented on #127
You can already do this as stated in FAQ <http://www.monitorix.org/faq.html#Q117>

[code]

[2015-11-23 14:31] Darkhand81 commented on #127
Well shoot, how did I not see that. :)  Thank you!  Issue can be closed!

[2015-11-23 14:57] mikaku commented on #127
OK, thanks anyway for your feedback.

[2015-11-23 14:57] #127 closed

[2015-11-27 10:10] thefold commented on #119
I second this request. It would extremely helpful, I have a large number of NFS shares and monitoring high usage on them can be a pain.

[2015-11-27 14:14] IzzySoft opened #128 "Feature request: Show reads and writes separately in file i/o stats"
This would especially be significant with "mixed setups" (SD cards / SSD and normal disks in the same system), where one is concerned about "write cycles" on the NAND flash (and whishes to organize storage accordingly). Currently, one only sees "access" – but cannot tell whether to be concerned ;)

[2015-11-30 17:35] mikaku commented on #74
OK, more questions: what are the relevant values? I mean, how would you show these values in a consistent manner?

I can figure that 'Sent' bytes will be really easy to graph, but what about the others (dropped, overlimits, requeues, etc.) how they must be represented?

Any idea?

[2015-12-01 19:02] kecksk0enig commented on #74
the htb1 is kind of "grand total" so the summation of pfifo20 21 22 should match exactly the values of htb1.
I would plot a graph with output (and then htb1 in the back and the queues in front of it  (like in the processor plot)
or something like: http://forums.cacti.net/about29651.html

personally I am mostly interested in the split of qdiscs (which one is using up the most data compared to the o

[2015-12-07 11:01] mikaku commented on #74
I'm playing in my devel Monitorix configuration file with something like this (based on your current `tc` configuration):

[code]
This way you would be able to monitor as many network interfaces as you want, and as many queues as you want for each network interface. The order of the queues are important in order to let to know to Monitorix which one is the *grant total*; which is `htb1` in your ca

[2015-12-08 17:13] IzzySoft opened #129 "MultiHost and Firewall"
Never having used this, I always thought the multi-host enabled server would be used to retrieve the pages from other hosts in this context. Now having a use-case for this (multiple servers behind a firewall, with just one exposed to HTTP/s) I've learned better.

Maybe a switch could be introduced controlling whether the client shall contact all hosts directly, or the "master" shall play proxy? Al

[2015-12-08 17:20] IzzySoft opened #130 "https_url possible also if built-in web server is not used?"
Could we have an equivalent to the built-in web server's `https_url` keyword for use without the built-in server? Could be a simple yes/no switch like "force_ssl_links" – or something more sophisticated like "force_ssl_links_proxies" (accepting a list of remote IPs to enable this for).

Background: Monitorix running on a firewalled server. HTTP access is given via Squid from the DMZ host. Squid is

[2015-12-09 16:05] mikaku commented on #129
Yes, I know, this is a long standing pending feature.
I'll use that issue to send news on the progress.
Thanks.

[2015-12-09 18:21] kecksk0enig commented on #74
No that seems very reasounable :+1:

[2015-12-09 20:42] IzzySoft commented on #129
My pleasure. Big thanks from my end follows later then :)

Btw: Maybe that could be realized via an additional "flag" to the host as well (so we don't need another group). If it's possible to add that to the end, and have it default to "noproxy" when not set, it wouldn't break existing configs.

[2015-12-10 01:19] IzzySoft commented on #58
I thought I was going crazy until finding this (already panicked I might have borked the Apache conf). So when running behind a reverse proxy, one has to decide for a protocol? No more chance to access the same installation via http *and* https (e.g. to have a fallback)?

[2015-12-10 09:38] milouse commented on #58
I'm afraid you have to choose a protocole. By the way, you should configure apache to redirect permanently your clients from http to https and provide the https url in the url_prefix_proxy parameter. What kind of fallback you need ? Some firewall blocking your https connection?

[2015-12-10 11:07] IzzySoft commented on #58
Thanks, @milouse (and yes, I'm aware of the redirect etc / HSTS). The machine I'm talking about is currently reachable from two sides: via a Squid proxy on one machine, and via an "Apache reverse proxy" on another. So what I've had in mind is to use one of the two by default, and have the other one in case the default is down – preferably via different host names (DNS). This part doesn't much affe

[2015-12-14 11:11] bluegroper commented on #84
another +1

[2015-12-15 09:47] mikaku commented on #74
@kecksk0enig,

I've created a new **Traffic Control** graph which hopefully covers what is requested in this issue. The following is a screen shot of the final graph:

![tc](https://cloud.githubusercontent.com/assets/829885/11807251/ee1051c6-a318-11e5-924d-f7f3682b4f59.png)

Please, download the new `tc.pm` module and update your current `monitorix.conf` with the latest version here, and let me kn

[2015-12-16 00:38] kecksk0enig commented on #74
Hi the graph looks very well, is there any option to "rename" a specific queue in the graph so that ther will no longer be a pfifo 20 but a cusom override for it?

[2015-12-16 08:09] mikaku commented on #74
Yeah, I thought about this. The problem is that they mostly have some space character in their names and that makes impossible to use them as an option in the configuration file, like this:

[code]

So, I think that the only way to do this would be changing their names by the position number in the `eth0` option. That is, `0` for `cbq 1`, `1` for `sfq 10`, and so on.

This way we would be able to

[2015-12-17 18:14] w41ru5 opened #131 "Custom descriptions for lmsens fields"
I have had to do some modifications to my lmsensors configuration to get CPU temps to work with Monitorix. I was wanting to make a custom desc like in other graphs to name my modifications correctly.

[2015-12-18 12:02] kecksk0enig commented on #74
If that would do the trick :+1:

[2015-12-21 12:24] mikaku commented on #131
Can you please elaborate it a bit more?

I mean, you could show the current output of your `sensors` command, then explain why and where it doesn't work in Monitorix, and finally, what modifications you introduced in the lm-sensors configuration file to solve the problem.

This way, I could even create a FAQ for this in the Monitorix web site, so other people could benefit from your solution.

Tha

[2015-12-21 15:27] mikaku commented on #131
@w41ru5, thanks for your commentaries in IRC freenode.

I'm going to explain the problem you had with your lm-sensors and the solution you found to solve it:

**The Problem**
---------------------
The  output of your `sensors` command uses the same label names for the temperatures of cores in two drivers, which makes impossible to include them in the Monitorix `lmsens` graph:

<http://pastebin.com

[2015-12-21 16:18] #131 closed

[2015-12-21 17:39] mikaku commented on #74
Can you make a screen shot of a real working graph? just to make sure that all values are showing correctly the data.

[2015-12-21 22:23] kecksk0enig commented on #74
shure:

![shaping-monitorix](https://cloud.githubusercontent.com/assets/4678750/11942834/ba73c444-a839-11e5-90e2-02a329c06b19.png)

[2015-12-22 09:00] mikaku commented on #74
Please, check the latest commit and let me know if it works as expected.

[2015-12-22 09:27] mikaku commented on #74
The new `<map>` option should be configured as this (following the example above):

[code]

That is, you must specify the device group since the new `tc.pm` permits monitoring of unlimited number of queues.

[2015-12-22 11:47] kecksk0enig commented on #74
hi, do I have to remove the old graphs in order to seethe change?
I have switcht to the latest tc.pem
my monitorix.conf is

# -----------------------------------------------------------------------------
<tc>
        list = wlan1
        <desc>
                wlan1 = htb 1, pfifo 20, pfifo 21, pfifo 22
        </desc>
        <map>
                <wlan1>
                        0 = overall

[2015-12-22 11:49] mikaku commented on #74
Please, see my last message that includes an example of how define such values.

[2015-12-22 12:00] kecksk0enig commented on #74
I see no differences between your example and mine?
still it lists the raw names like pfifo21

[2015-12-22 12:03] mikaku commented on #74
Make sure you downloaded the very last version because I did a last-second change that could lead the problems you are explaining.

[2015-12-22 12:16] kecksk0enig commented on #74
yes thats it.
Now working

[2015-12-22 14:01] #74 closed

[2016-01-02 22:18] jordandcarter commented on #84
+1

[2016-01-03 22:12] bluegroper commented on #84
Might be some useful background info.
https://wiki.postgresql.org/wiki/Monitoring

[2016-01-12 14:30] mariotaku opened #132 "Option to change imgformat for graphs"
First of all, thank you for such an amazing tool!

I wonder if there could be an option to change imgformat for graphs, like jpg, or svg. Thanks a lot!

[2016-01-12 17:18] mikaku commented on #132
According to the RRDtool documentation <http://oss.oetiker.ch/rrdtool/doc/rrdgraph.en.html>, the option `--imgformat` accepts the following graphical formats:

[code]

Problem here is that Monitorix has the graphical format PNG hard-coded in every single module.
I'll try to find enough time to remedy this situation with a new option from the configuration file where will let you specify the final

[2016-01-13 02:53] mariotaku commented on #132
Thanks. here's a working patch for current version on APT repo:

[code]

[2016-01-18 12:31] lewyx8 opened #133 "Petabytes"
Hi,
i have problem with my network usage graphs ( re0 ) indicate that I get petabyte/s transfer speeds. How can I resolve this issue? FreeBSD 10.2

[code]

[2016-01-18 14:23] mikaku commented on #133
Hi,

Without a picture to get an idea of what is really happening there will be difficult.
First of all, make sure you are using the latest and greatest 3.8.1, because in 3.6.0 was fixed a problem with unexpected peaks in the network graph:

[code]

Check the `Changes` file.
Regards.

[2016-01-21 12:46] vanko69 opened #134 "Graph zoom"
Hello,
Incredible tool, exactly what I was looking for. Just one thing: when I change the value of "global_zoom" of my host to 2 and I enable multihost, and select the host with "global_zoom" that I have changed I see only the left top corner of the graph. Is there a way to show full graph? I attached a img. Awesome tool once again.
PS: Excuse my english  I am a foreigner.
![img](https://cloud.git

[2016-01-25 10:59] mikaku commented on #134
@vanko69,

This is not possible to fix right now, I'm sorry.

Multihost feature is planned to have a complete rewrite which will include numerous new features.
I hope I can start developing its new version soon.

Regards.

[2016-01-25 11:56] mikaku commented on #132
After applying the modifications to create SGV images, I've seen that zoomed images are not correctly fit in the pop-up window. This is due because RRDs::graphv function does not return correctly the size of the zoomed image with SGV format.

Are you experiencing the same behavior for the zoomed images?

I'm using RRDtool version 1.3.8, perhaps newer versions are returning correct values.
Please,

[2016-01-25 12:05] mariotaku commented on #132
Yes, I also encountered this problem. Other images are OK.

Jordi Sanfeliu <notifications@github.com>于2016年1月25日周一 下午7:56写道：

[2016-01-25 12:13] mikaku commented on #132
I have also tested it under RRDtool version 1.4.8 and I got the same bad results.
:(

[2016-01-25 17:37] mikaku commented on #132
I've added the new option `image_format` which has by default the value `PNG`. Such option accepts only the values `PNG` and `SVG`. It should work as expected except the problem with the zoomed graphs.

Please, download all the `.pm` files, the `monitorix.cgi` file and update your `monitorix.conf` to reflec such new option. And let me know how it works.

Thanks.

[2016-01-26 03:53] mariotaku commented on #132
![image](https://cloud.githubusercontent.com/assets/830358/12572157/6b7e4c3c-c423-11e5-8990-bdec66d6d169.png)
works on Debian 8. (though zoomed image is a little buggy)

[2016-01-26 08:02] mikaku commented on #132
Yeah, zoomed image won't fit in the pop-up window because it' using the `<iframe>` tag.
I think we can close this.

[2016-01-26 08:02] #132 closed

[2016-01-26 09:03] mikaku commented on #130
@IzzySoft,

I'm unable to reproduce your scenario here, so I'm afraid you'll have to test it on your own.

So, can you please, add the global option `https_url = y` and then change the line <https://github.com/mikaku/Monitorix/blob/master/monitorix.cgi#L262> by:

[code]

and see if it works for you (without breaking any other configurations)?
Thanks.

[2016-01-26 10:01] vanko69 commented on #134
Ok. Thanks :) And one more question I don't see memory graph (overview of the memory of the whole system). Is there one and I cannot find it or it is not implemented ?

[2016-01-26 10:04] mikaku commented on #134
You should find it enabling the `system` graph (the first one in the screen) which it's already enabled by default.

<http://linux:8080/monitorix-cgi/monitorix.cgi?mode=localhost&graph=_system1&when=1day&color=black>

The memory graph is in the right-bottom part of the `system` graph.

[2016-01-26 10:26] mikaku commented on #128
@IzzySoft,

I'm not sure to which graph are you referring for, you say *file i/o* and *access* ... from which graph?
Thanks.

[2016-01-26 10:45] mikaku commented on #118
@mikaku I've added another item to my initial post about the missing "SPF permerror" in the SPF graph. At least with that it's clear where it should go. As I pointed out there, with the Postfix postfix-policyd-spf-perl solution, those are currently dealt with as "softfail" – which is better than not being dealt with at all, but not really correct.

I don't see enough room for a fifth value in the

[2016-01-26 10:49] mikaku commented on #118
Regarding RBL, as long as Postfix reports the same line for these rejected RBL hits:

[code]

it should be relatively simple to add the new value in the Postfix graph.

[2016-01-26 10:59] mikaku commented on #119
The `nfsiostat` command shows a number of different information and specifying the arguments `-a`, `-d` or `-p` shows even extra information. I think that this would be a very useful graph but I really need some help to know which values are really important.

Can you help on this?
Thanks.

[2016-01-26 11:14] vanko69 commented on #134
yes thank you once again :)

[2016-01-26 11:15] mikaku commented on #134
You're welcome.

[2016-01-26 11:15] #134 closed

[2016-01-26 21:28] IzzySoft commented on #118
Quite a while ago, so I'm just wondering what's the difference between "fail" and "permerror". No, if given that choice, softfail is the better fit (and probably close to what it's really dealt with like). Especially with my configuration: hard fails get rejected immediately, while everything else is passed to the next level (SpamAssassin). So a permerror (failed to do a proper lookup due to DNS i

[2016-01-26 21:33] IzzySoft commented on #130
I'll have to postpone this a little due to lack of time for proper testing, sorry. Currently running 25h days …

[2016-01-26 21:41] IzzySoft commented on #128
*Filesystem usage and I/O activity › Disk I/O activity* – and before you write something about missing slots: this could be done e.g. by moving the x-axis to the middle of the graph, showing e.g. reads with positive y values and writes with negatives (↑ = read, ↓ = write).

[2016-01-28 14:54] mikaku commented on #118
Please, check the latest `mail.pm` and let me know if it works as expected.

[2016-02-09 07:37] 5chdn opened #137 "Monitorix crashs with SIGBUS on __memcpy_sse2_unaligned"
I'm running monitorox on archlinux and it keeps crashing right after restarting the service.

    3 ✗ root@chaos ~ $ systemctl status monitorix -l
    ● monitorix.service - Monitorix
       Loaded: loaded (/usr/lib/systemd/system/monitorix.service; enabled; vendor preset: disabled)
       Active: failed (Result: core-dump) since Di 2016-02-09 07:16:25 UTC; 5min ago
         Docs: man:monitorix(8)

[2016-02-09 07:43] 5chdn commented on #137
the monitorix and monitorix-http logs are not showing anything.

    0 ✓ root@chaos ~ $ tail /var/log/monitorix
    Try `iptables -h' or 'iptables --help' for more information.
    iptables v1.4.21: invalid port/service `99999' specified
    Try `iptables -h' or 'iptables --help' for more information.
    iptables v1.4.21: can't initialize iptables table `filter': Table does not exist (do you need

[2016-02-09 16:30] mikaku commented on #137
Thanks for your very detailed information!

It looks like this crash happens when Monitorix tries to save the data into the RRD database:
[code]
I noticed you are using a very new RRDtool branch (not tested by me yet). This makes me think that there is something bad in Monitorix that RRDtool don't parses and becomes a problem.

So, just in case, can you please, downgrade your RRDtool version from

[2016-02-09 21:47] 5chdn commented on #137
Ok, trying the version 1.4.9-1 from dec/31/2014 from this mirror http://ala.seblu.net/packages/r/rrdtool/

    0 ✓ user@chaos ~ $ wget http://ala.seblu.net/packages/r/rrdtool/rrdtool-1.4.9-1-x86_64.pkg.tar.xz
    --2016-02-09 21:40:09--  http://ala.seblu.net/packages/r/rrdtool/rrdtool-1.4.9-1-x86_64.pkg.tar.xz
    Resolving ala.seblu.net (ala.seblu.net)... 2001:bc8:3173:100::1, 62.210.204.83
    C

[2016-02-10 08:04] mikaku commented on #137
this error:

[code]

makes me think that the RRDtool package you installed is wrong, or it was compiled for a different version of Archlinux. Please, always stay with official repositories when downloading packages.

Also, please, send the complete log right after your started Monitorix, I'd like to see all the session log.

Regarding the iptables errors, they aren't critical. It just means that y

[2016-02-10 08:30] 5chdn commented on #137
There is no _official repository_ to download old versions. The repositories only contain the latest version.

    0 ✓ user@chaos ~ $ pacaur -Ss rrdtool
    extra/rrdtool 1.5.5-1 [installed: 1.4.9-1]
        Data logging and graphing application
    community/cacti 0.8.8_f-3
        complete network graphing solution designed to harness the power of RRDTool's data storage and graphing functionalit

[2016-02-10 12:10] graysky2 commented on #137
I have 3.8.1-2 running on multiple arch boxes without issue.  Rrdtool is
current 1.5.5-1

On Wednesday, February 10, 2016, Afri Schoedon <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-02-10 12:30] 5chdn commented on #137
Ok, so it might be caused by a certain graph I enabled, maybe?

[2016-02-10 15:21] mikaku commented on #137
@graysky2,

Thanks for your answer.

@5chdn,

I don't discard that there is a Monitorix plugin that tries to save some uninitialized data into RRDtool, which is not a problem in RRDtool v1.4, but it has been demonstrated a problem (issue #91) in RRDtool v1.5. So, it would be useful if you can isolate the graph that is generating those segfaults.

Start by disabling all graphs and then enable one b

[2016-02-10 16:50] 5chdn commented on #137
And the winner is: `        process         = y`

    # PROCESS graph
    # -----------------------------------------------------------------------------
    <process>
            <list>
                    0 = nginx, sshd, ntpd, icecast, liquidsoap, postgres, syncthing
            </list>
            <desc>
            </desc>
            rigid = 2, 0, 0, 0, 0, 0, 0, 0
            limit = 100, 10

[2016-02-10 17:36] mikaku commented on #137
OK, nice.

Now it's time to debug a little more showing the data which is being saved into the `process.rrd` file.

Please, start Monitorix appending the argument `-d process` in the command line, then let it run for a while and come back here with the whole session log.

Thanks.

[2016-02-13 10:58] 5chdn commented on #137
I had no chance to look into the process graph yet, but after 3 days it crashed again with the same trace.

    0 ✓ root@chaos ~ $ systemctl status monitorix
    ● monitorix.service - Monitorix
       Loaded: loaded (/usr/lib/systemd/system/monitorix.service; enabled; vendor preset: disabled)
       Active: failed (Result: core-dump) since Fr 2016-02-12 09:14:08 UTC; 1 day 1h ago
         Docs: ma

[2016-02-15 11:57] mikaku commented on #137
Well, I was just waiting your log session after enabling only the Process module and adding the command line argument `-d process`.

Thanks.

[2016-02-15 13:24] 5chdn commented on #137
It does not crash anymore running only the process graph :-(

    0 ✓ root@chaos ~ $ monitorix -c /root/monitorix.conf -d process
    0 ✓ root@chaos ~ $ tail -n999 -f /var/log/monitorix
    Mon Feb 15 13:16:18 2016 - Starting Monitorix version 3.8.1 (pid 9890).
    Mon Feb 15 13:16:18 2016 - Loaded main configuration file '/root/monitorix.conf'.
    Mon Feb 15 13:16:18 2016 - Entering in debug mod

[2016-02-15 14:46] graysky2 commented on #137
Holy shit dude, you need to update your box.

[2016-02-15 14:46] mikaku commented on #137
All those `Use of uninitialized value in lc at ...`  messages are really annoying. Can you please paste bin your current configuration file `monitorix.conf`?

Please, remove any sensible information on it before the paste.

[2016-02-15 19:47] 5chdn commented on #137
@graysky2 it's only the kernel. cant reboot it.

    0 ✓ user@chaos ~ $ uptime
     19:32:57 up 231 days,  6:46,  1 user,  load average: 2,41, 2,18, 2,39

@mikaku http://0bin.net/paste/VEPl++fCJG9UVhBQ#KEl7Ji5qImK3V-iW9yCmlToqSsPSStKleoUY1zextf6

[2016-02-16 16:59] mikaku commented on #137
Thanks for the pastebin, your `monitorix.conf` file looks good to me.

I think these messages of uninitialized value are because you have a newer version of Perl than me, and your version is probably more sensible to uninitialized values. I'll fix that.

Besides this, in your previous log, you missed the important part. That is, the line that shows the values to be saved in the RRD file. It's a li

[2016-02-16 21:12] 5chdn commented on #137
There is no such line in my log.

    0 ✓ root@chaos ~ $ grep -i update /var/log/monitorix
    Mon Feb 15 13:17:00 2016 - Calling process_update()
    0 ✓ root@chaos ~ $ ll /var/log/monitorix
    68K -rw-r--r-- 1 root root 64K 16. Feb 21:07 /var/log/monitorix

In addition, it's running "stable" without crash for 30+ hours now, but the graph is empty.

![screenshot at 2016-02-16 22 10 00](https://c

[2016-02-17 08:18] mikaku commented on #137
I think I see one of the cause of so many messages about uninitialized values:

[code]

Your configuration file is located inside the root's directory and that directory is only accessible by the root user. Monitorix CGI is unable to read configuration file since the web server is probably running with a different user.

Please, move the configuration file to a more standard location like `/etc/mo

[2016-02-17 09:52] 5chdn commented on #137
I don't think this is the issue.

    0 ✓ root@chaos ~ $ mv monitorix.conf /etc/monitorix/monitorix-proc.conf
    0 ✓ root@chaos ~ $ ll /etc/monitorix/monitorix-proc.conf
    24K -rw-r--r-- 1 root root 24K 15. Feb 13:16 /etc/monitorix/monitorix-proc.conf
    0 ✓ root@chaos ~ $ ll /etc/monitorix/
    total 60K
    4,0K drwxr-xr-x  3 root root 4,0K 17. Feb 09:47 .
    4,0K drwxr-xr-x 64 root root 4,

[2016-02-17 14:12] mikaku commented on #137
Can you check if you see still messages like these:

[code]

Thanks.

[2016-02-17 19:34] 5chdn commented on #137
No, they are not showing up anymore.

[2016-02-18 08:33] mikaku commented on #137
That's great, now `monitorix.cgi` has access to the `monitorix.conf` file.

Regarding these lines:
[code]

It's pretty strange that Monitorix calls almost once per day the `process_update()` function. That `grep` should show matches one per minute. Just like this:

[code]

Place the `monitorix.conf` file in the proper location `/etc/monitorix/`, start Monitorix and let it run for a while (5 minute

[2016-02-18 10:41] 5chdn commented on #137
I did that already, see my comment above. Restarted, full log:

    0 ✓ root@chaos ~ $ mv /etc/monitorix/monitorix-proc.conf /etc/monitorix/conf.d/debug-137.conf

    0 ✓ root@chaos ~ $ monitorix -c /etc/monitorix/conf.d/debug-137.conf -d process

    0 ✓ root@chaos ~ $ tail -n188 /var/log/monitorix
    Thu Feb 18 10:36:50 2016 - Starting Monitorix version 3.8.1 (pid 2371).
    Thu Feb 18 10:36:50

[2016-02-18 12:13] mikaku commented on #137
Looks like you still don't understand where to put the configuration file:

[code]

As you can see, since you placed the main configuration file in the directory for extra configuration files, then Monitorix loads your configuration file twice.

Please, read the documentation in order to use Monitorix correctly.

[2016-02-18 12:34] 5chdn commented on #137
Ok, will read the documentation.

[2016-02-18 12:34] #137 closed

[2016-02-20 00:09] Tagnard opened #138 "ERROR: while updating /var/lib/monitorix/zfs.rrd"
I like this project but I have a problem that i get no data for the zfs graphs and in the logs I get the  following messages.

`Sat Feb 20 01:06:42 2016 - Starting Monitorix version 3.8.1 (pid 27255).
Sat Feb 20 01:06:42 2016 - Loaded main configuration file '/etc/monitorix/monitorix.conf'.
Sat Feb 20 01:06:42 2016 - Initializing graphs.
Sat Feb 20 01:06:42 2016 - Generating the 'index.html' file.

[2016-02-21 19:44] aminmazi opened #139 "Merge port graphs for better comparison"
Hi, good job.
In Port monitoring, it could be useful if there was an option to merge graphs of different ports in one graph for better traffic usage comparison.

[2016-02-22 08:44] mikaku commented on #139
Considering that each port uses two colors (for input and for output) it would be pretty difficult to scale up.
Thanks anyway for your feedback.

[2016-02-22 09:10] mikaku commented on #138
Looks like the output of one of the ZFS commands used to get statistics don't matches with what Monitorix is expecting, so let's debug a bit more this.

Please, restart your Monitorix but this time adding the argument `-d zfs` in the command line, then let it run for a while (2 or 3 minutes) and pastebin here the complete log since that new restart.

Also, what ZFS version you have there?
Thanks.

[2016-02-22 09:38] Tagnard commented on #138
The zfs version is 0.6.5.4 and here are the [logs](http://paste.fedoraproject.org/327205/45613376/).

[2016-02-22 10:00] mikaku commented on #138
Thanks for your quick response.

I need more information, please paste the `<zfs>` section of your `monitorix.conf` file.

It seems that Monitorix has problems to get the value FRA (*fragmentation*, if that still exist in the listing), of your pools. So let me see the output of the following command (used by Monitorix to get ZFS pool stats):

[code]

Please substitute `$pool` by the name of each p

[2016-02-22 10:11] Tagnard commented on #138
Here are [zfs:monitorix.conf](http://paste.fedoraproject.org/327210/13574814/) and `tank    32,5T   28,3T   4,17T   -       -       87%     1.00x   ONLINE  -`

[2016-02-22 10:20] mikaku commented on #138
Sorry, can you please paste the output of the same command but without the `-H`? I need to get an idea of which headers are still valid.
Thanks.

[2016-02-22 10:21] Tagnard commented on #138
[Sure](http://paste.fedoraproject.org/327211/36479145/), I can do that.

[2016-02-22 14:41] mikaku commented on #138
OK, it seems that, for an unknown reason, your FRAG value is not used and the hyphen character (`-`) is not indeed acceptable as a numeric value.

So, to work-around that problem, you manually could change the line 273 in the `zfs.pm` file:

<https://github.com/mikaku/Monitorix/blob/master/lib/zfs.pm#L273>

change this line:

[code]

by this one:

[code]

And just let me know if that fixes the iss

[2016-02-22 15:22] Tagnard commented on #138
It don't complain as much but the graphs don't update. [New logs](http://paste.fedoraproject.org/327205/45613376/)

[2016-02-22 16:33] mikaku commented on #138
You pasted the same logs as in your first test. :)

[2016-02-22 16:41] Tagnard commented on #138
Sorry about that.

[Logs](http://paste.fedoraproject.org/327349/14561592/)

[2016-02-22 16:46] mikaku commented on #138
OK I see, it still needs a value. A simple 0 will suffice.

Change the same line:

[code]

by this one:

[code]

And just let me know.
Thanks.

[2016-02-22 17:00] Tagnard commented on #138
Now it works perfectly, thanks for fixing this issue quick and efficiently. :D

[2016-02-22 17:07] mikaku commented on #138
Great, thanks for your feedback!

[2016-02-22 17:07] #138 closed

[2016-02-22 20:25] aminmazi commented on #139
Yes you right, my suggestion works only in few number of ports to be monitored.
What if the y axis of all port graphs have the same scale (for example the average of all traffics) , in this way the graphs can be compared with a glance.
In my use case, every user has a port so I need to compare every port(user)'s traffic usage. I know this is not a common need but it can be an optional feature for

[2016-02-23 08:25] mikaku commented on #139
You can already fix the y-axis at the same scale for all the network ports being monitored, just assign a `2` to all *rigid* values.

[2016-02-23 11:28] aminmazi commented on #139
oh thanks, i missed "rigid and limits" part of documentation.
cross-links in documentation could make this tool more fantastic.
thanks for your help.

[2016-02-23 11:28] #139 closed

[2016-02-23 12:08] mikaku commented on #139
Yeah, I know, the documentation is not the best part of Monitorix indeed.
But hey!, that's why we have Github issues, IRC, Mailing Lists, etc.! ;)
Thanks for your feedback.

[2016-02-26 13:44] blindpet opened #140 "Request: Add Redis"
Since memcached is part of Monitorix, I was hoping to see Redis as well in a future update if possible

[2016-02-28 13:37] milandamen opened #141 "Feature request: hourly graphs"
Would it be possible to show graphs for the last hour, instead of the last day?

[2016-02-29 11:42] mikaku commented on #141
You can do this already by changing the value of the `when=' parameter, just like this:

[code]

[2016-02-29 12:14] milandamen commented on #141
Wouldn't it be nice if that option was added in the combobox on /monitorix?

[2016-02-29 15:43] mikaku commented on #141
Ah, well, I don't see the need to have that option in the main screen but if you really need it then it's not a problem for me to add a new option to enable it (but will be disabled by default).

Stay around, I'll keep you informed.

[2016-02-29 15:55] milandamen commented on #141
I can do without it, just editing the URL, but I thought other less-savy people might want to be able to easily select it.

[2016-03-01 10:17] mikaku commented on #141
I've added the new option `enable_hourly_view`, you can test it and let me know if if works as expected.

[2016-03-02 18:06] milandamen commented on #141
It works! Thank you. Are you going to update the izzysoft.de repository with the new code?

[2016-03-02 20:14] IzzySoft commented on #141
@milandamen mikaku won't. But I will, as soon as mikaku declares it ready (i.e. makes a release) :stuck_out_tongue_winking_eye:

[2016-03-02 20:19] milandamen commented on #141
@IzzySoft Ah good. Thanks!

[2016-03-02 20:19] #141 closed

[2016-03-10 15:11] lelmarir opened #142 "Feature request: adding tomcat"
It would be great to be able to monitor tomcat stats:
- memory (heap, non-heap, permgen, ...)
- Threads
- loaded classes
- cpu usage

Like JConsole
![image](https://cloud.githubusercontent.com/assets/1350224/13673733/ba7bfe7c-e6da-11e5-9f8a-668bb985f9d5.png)

[2016-03-20 14:15] nagyf opened #143 "Wrong image urls when using nginx"
Hi!

I'm trying to configure Monitorix on a Raspberry Pi with Arch linux. I've installed monitorix, and nginx.
Nginx config(only the relevant part):
[code]

Monitorix config:
[code]

The server is running on **10.0.0.2**, and when I delete the line ```url_prefix_proxy = 10.0.0.2``` from Monitorix config, and try to access the application through a web browser on url http://10.0.0.2/monitorix I get

[2016-03-21 16:42] mikaku commented on #143
Is the any special reason why are you using Nginx to connect to the built-in HTTP server of Monitorix? I mean, why not just use the built-in HTTP og Monitorix or Nginx with the built-in HTTP disabled?

[2016-03-23 08:25] nagyf commented on #143
I'm want to use nginx because I will have other applications as well, on the same system, and I want to serve everything through nginx.
I will try to disable the built in server and configure nginx

[2016-03-23 08:25] #143 closed

[2016-03-23 08:27] mikaku commented on #143
Ok, and please, let me know if you still have problems.
Regards.

[2016-04-06 12:14] Mannitou opened #144 "snmpnetstat support"
monitorix already support netstat command and I think it could be easy to duplicate the module in order to propose snmpnetstat module.

from snmpnetstat command we can get the same connection status. [http://www.linuxcommand.org/man_pages/snmpnetstat1.html]

[2016-04-07 09:21] mikaku commented on #144
Since I'm unable to test the `snmpnetstat` command, I've some questions on it:

* Is it portable to others UNIX-like systems? and if so, does it show the same output in Linux as in any *BSD system?
*  Please show the equivalences with `snmpnetstat` of the following commands (under Linux):
 * `netstat -tn -A inet` (list of all ipv4 established TCP connections)
 * `netstat -ltn -A inet` (list of all

[2016-04-14 12:33] robjens opened #146 "Config hosts_deny and hosts_allow precedence"
Hi,

This might be the result of some (tcpwrapper-ish) basic information/experience lacking on my side; the documentation doesn't state this very explicitly but I was under the impression that:

[code]

Where `__...` is my public IP address, would deny access to all IP's by default but would allow my own public IP access. I presume this assumption, after some tryout, is not correct? Something I do

[2016-04-14 14:50] mikaku commented on #146
Hi,

It works exactly as you said, just putting your public IP in the `hosts_allow` option and it will be the only one allowed to access your Monitorix. The rest of IPs will be denied because you specified `all` in the `hosts_deny` option.

Please, make sure your public IP is correct.
I've just tested it here and it works.

[2016-04-19 08:06] Silmano opened #147 "Information leakage when using monitorix http server"
If you grant write permissions to all in the imgs folder (where the png files are generated), a non-privileged user can install a symlink under the directory and target sensitive data, then read the data through the bundled web-server.

Imagine `~/monitorix/www/imgs` has 777 permissions, then you should be able to perform the following with a non-privileged user:
[code]
And retrieve the contents o

[2016-04-19 09:41] mikaku commented on #147
Hi,

Despite the fact that the example is not valid (since you are unable to read a file with root only read permission even following a symbolic link), the flaw is valid for any other file with sensible information if it's world readable (i.e: `/etc/passwd`).

I guess you are referring to the following line in the `docs/monitorix.spec` file:

[code]

If so, that only affects Monitorix installatio

[2016-04-19 09:52] Silmano commented on #147
The example is valid, if you follow the steps to create a symlink and use curl to access the png file (that its now a symlink), you get the contents of the file that its pointing to.

My guess is that the issue might come from `lib/HTTPServer.pm` and the user that runs the httpd server daemon (the monitorix one, not any external like Apache or lighthttpd). I don't have access to a Linux box right

[2016-04-19 10:24] mikaku commented on #147
The built-in HTTP server in Monitorix is executing under the user `nobody` (unless you changed it) so, it shouldn't have access to read that symbolic link.

[2016-04-19 17:09] Silmano commented on #147
I've been able to reproduce the issue (see the attached capture). The monitorix httpd configuration its as follows:
[code]
I've done a ps and you can see that it's truly running as nobody, but doing the commands typed above, I'm able to link sensitive data and see it through the builtin http server.

![capture](https://cloud.githubusercontent.com/assets/394850/14648303/e5c6e2b2-0661-11e6-810c-4b57

[2016-04-20 07:28] mikaku commented on #147
It looks like your `/etc/shadow` is world readable since I'm unable to reproduce in my CentOS 6.7:

[code]

Now the same example with `/etc/passwd` which is indeed a world readable file:

[code]

[2016-04-20 21:00] Silmano commented on #147
I've created a new user just for the test and I'm able to reach the file despite the user doesn't belong to the file group. The file has 640 permissions for root:root. I believe I shouldn't be able to reach it through the web server, since I'm not unable to perform a cat of the file.
![capture2](https://cloud.githubusercontent.com/assets/394850/14690199/34fb248a-074b-11e6-890d-b0da221ddfc7.PNG)

I

[2016-04-20 22:05] IzzySoft commented on #147
@Silmano could you please check in your `/etc/group` if you haven't accidentally added `nobody` (the user running your Monitorix process) to the `root` group? `grep -e '^root:' /etc/group` should do that. I don't see another way how your described behaviour could happen.

[2016-04-21 07:24] mikaku commented on #147
@Silmano,

Since `/etc/shadow` is owned as `root:root` having a permission like 640 won't have any effect:

[code]

Indeed.

As @IzzySoft suggested, check the supplementary groups of your `nobody` user.

[2016-04-21 18:55] Silmano commented on #147
I've checked the `/etc/group` file and nobody isn't there. In fact I'm unable to perform a cat neither to the direct file nor the symlink, but I'm able to retrieve the data via curl.
![capture02](https://cloud.githubusercontent.com/assets/394850/14720354/5aecb1b6-0801-11e6-9eb1-b9947dd10917.PNG)

Another thing that I don't know if it has something to do its that upon starting the machine, the serv

[2016-04-25 08:09] mikaku commented on #147
Weird.

Please, check (using `ps`) the user under the built-in HTTP is running on right after start your machine, and compare it once you restarted Monitorix.

Also, make sure you don't have an extra configuration file for Monitorix with a different setup for the built-in HTTP server.

Your `monitorix.conf` file looks OK to me.

[2016-04-26 20:50] Silmano commented on #147
I've done the test and I can't find any difference between the after and before. Not in the httpd process nor the daemon process and the configuration that launches it
![capture](https://cloud.githubusercontent.com/assets/394850/14833798/41f62ea4-0c01-11e6-8a09-0f6c074dec4d.PNG)

Any other idea or suggestion to check?

[2016-04-27 07:06] mikaku commented on #147
Can't reproduce this here (Linux CentOS 6.7 64bit).

I'm running out of ideas. I'd suggest you to test this on a fresh new system (real hardware preferably, or KVM virtualization) and let us know.

Thanks.

[2016-04-27 23:21] dolence opened #148 "Feature request: pf firewall support"
I'm using pf firewall on freeBSD 10.3. Any chance to support it aside from ipfw and iptables?

[2016-04-28 13:48] mikaku commented on #148
I don't use *BSD systems so my knowledge of the `pf` firewall is limited. I read somewhere though that `ipfw` is the only native firewall for FreeBSD and that's why I use it in Monitorix.

Anyway, as long as you can provide a `pf` equivalence table of the `ipfw` commands used in Monitorix it shouldn't be a problem to include its support (besides the time).

[2016-04-29 17:35] Silmano commented on #147
Thanks for the info. I did the tests in a VM box and in my server and I can reproduce the issue from my side. Maybe it has something to do with the OS...

[2016-04-29 22:40] IzzySoft commented on #147
In that case it might be useful if you mention which one it is – or did I just miss that? Just skimmed through the entire issue, but I couldn't find it.

[2016-04-29 22:52] mikaku commented on #147
@IzzySoft,

No, you don't missed it, he just didn't mention it. But I think it's Gentoo since he filed some bugs and updates in the Gentoo package related to Monitorix.

(but maybe I'm wrong)

[2016-05-02 12:38] Silmano commented on #147
Sorry for the late response. I didn't specified because I wasn't aware that the bug might be OS specific instead. As @mikaku has stated, its Gentoo. I have both a live version and a VM one and I'm able to reproduce the issue on both, so I think something its messing with the daemon and making it restart with higher privileges than it should have.

[2016-05-02 13:06] mikaku commented on #147
@Silmano,

It looks like something specific in Gentoo since I was unable to reproduce that behavior on any of the CentOS Linux I have here.

I can't tell if this is reproducible in Debian/Ubuntu systems (I don't use them), but @IzzySoft might be able to shed some light on this.

In the meanwhile, you might want to check the process restarting system in Gentoo to see if there is an option that disa

[2016-05-02 18:36] IzzySoft commented on #147
I don't use the internal web server on most machines. On the one I've tested (Debian Wheezy), I just get a 404, even after a restart. So I cannot reproduce it either.

[2016-05-12 12:30] Comarco commented on #96
Hi,
any progress was done on this ?
Still need some help with eximstats output ?

[2016-05-13 08:46] mikaku commented on #96
@Comarco,

Hey, well ... it is currently in low priority because I need to figure out how it looks the output of the `eximstats` command.

Perhaps you might paste that information or send it to me by email.
Just let me know.

[2016-05-13 10:53] Comarco commented on #96
On a very low activity server it looks like this
http://pastebin.com/QKcCKVSj

[2016-05-16 07:48] melito00 commented on #146
I have same issue.
I copied IP Address from "monitorix-httpd" log that was recorded as "Access not allowed: ".

I tried to set "hosts_allow = all". but I also coundn't access. and it logged same message "[x.x.x.x] Access not allowed ...."

[2016-05-18 13:18] mikaku commented on #146
OK, here is my test:

I have the following in my `monitorix.conf`:
[code]
Now I try to access from another PC with IP 192.168.1.11 and obviously that's what I get in `/var/log/monitorix-httpd`:
[code]
Now I change the following line in my `monitorix.conf` and restart Monitorix:
[code]
And in the next try I get the following in `/var/log/monitorix-httpd`:
[code]
So, all is working fine. I'm unable

[2016-05-18 23:07] BenoitSvB opened #149 "Use of uninitialized value in multiplication (*) at /usr/lib/monitorix/int.pm line 1175 and 1176"
Since 10-05-2016 the Devices interrupt activity graphs changed: see attached files.
[20160509 graph.pdf](https://github.com/mikaku/Monitorix/files/271567/20160509.graph.pdf)
[20160510 graph.pdf](https://github.com/mikaku/Monitorix/files/271568/20160510.graph.pdf)

[2016-05-19 07:10] mikaku commented on #149
There is already the issue #77 opened that holds these messages in the `int.pm` module.

Besides this, I ignore the reason why you experienced this change. It looks like you changed the architecture or the kernel changed completely the way how interrupts are shown and now Monitorix is unable to determine the name of each interrupt.

[2016-05-20 07:58] mikaku commented on #96
Thanks for the log.
It looks like the must interesting part is in the top:

[code]

I've some questions:
- It's possible to have the same report but more oriented to script than for human?
- It's possible to have a report of the current mail queue? (number of messages currently on queue and total size of the queue?

Thanks.

[2016-05-26 16:31] lordslair opened #150 "Yaws default file conflict after installation from .deb"
Hello everyone,

I checked previously if there's already an opened issue about it before posting this one

I'm trying for a project to embed monitorix, so I wanted first to understand better how it works.
I started an "easy" install on a fresh debian VM

[code]

It seems there's something wrong about the /monitorix alias.
It looks like it doesn't redirect stright away in the right folder (base_dir

[2016-05-26 17:39] IzzySoft commented on #150
Only one service can be bound per port AFAIK. So if 8080 is already in use, a second service cannot be attached to it. So IMHO you'd either have to reconfigure Yaws or Monitorix.

[2016-05-27 07:45] mikaku commented on #150
@lordslair

Thank you!

And, as @IzzySoft already said, it's just a matter to configure either Yaws or Monitorix to avoid both applications from listening on the same network port.

[2016-05-28 09:39] rolandwells opened #151 "Use of uninitialized value in multiplication (*) at /usr/lib/monitorix/disk.pm line 581."
I get the following errors in the monitorix log, along with the broken disk monitoring section (pic attached). This is on a fresh install and I have confirmed hddtemp works as expected.

`hello@hub-16:/var/log$ sudo hddtemp /dev/sda`
`/dev/sda: MKNSSDEC60GB: 30°C`

Use of uninitialized value in multiplication (*) at /usr/lib/monitorix/disk.pm line 581.
Use of uninitialized value in multiplication

[2016-05-30 09:34] mikaku commented on #151
@rolandwells,

Thanks for checking first if your problem is already opened for someone else, which is not as you well said.

After seeing the graphs, I noticed that there is an error message that says `/var/lib/monitorix/disk.rrd: No such file or directory`. This means that your `disk.rrd` is missing for an unknown reason.

Can you, please, check the Monitorix log file `/var/log/monitorix` to see

[2016-05-30 09:49] rolandwells commented on #151
Thank you Jordi. Below is `/var/log/monitorix`, it includes a restart of monitorix via "service monitorix restart" which you can see towards the end.

Maybe some info in these lines?:
Mon May 30 12:37:15 2016 - disk::disk_init: ERROR: invalid or inexistent device name '/dev/sdb'.
Mon May 30 12:37:15 2016 - disk::disk_init: 'accept_invalid_disk' option is not set.

-------------------

hello@hub-16

[2016-05-30 09:59] lordslair commented on #150
Thanks for the answer, I should explain better in order to be clearer.

Yes, I saw that yaws was in conflict with monitorix as you can only bound one service per port.
But, I didn't install yaws myself, I don't need it, yaws was installed as a monitorix dependency.

From what I'm seeing, yaws is shipped with monitorix (using IzzySoft repo)
To illustrate, I've installed using apt all the needed lib

[2016-05-30 10:00] mikaku commented on #151
Yup, that's indeed is the problem. Look at the code that does it:

[code]

So, if if finds a disk that doesn't exists it refuses to continue initializing the Disk graph and so the `disk.rrd` file is not created.

I should introduce a WARNING here just to denote that such graph won't be active until you fix that problem.

Meanwhile, you could remove the devices that don't exist in your system.

[2016-05-30 10:19] rolandwells commented on #151
Thank you. I removed sdb and sdc from <disk> section in /etc/monitorix/monitorix.conf and all seems to be working well.

![image](https://cloud.githubusercontent.com/assets/8055681/15646895/9a4f442c-2660-11e6-9808-6c6b3cd38f6f.png)

[2016-05-30 10:19] #151 closed

[2016-05-30 10:28] mikaku commented on #151
Perfect!

[2016-05-30 11:00] mikaku commented on #150
@lordslair,

Indeed, Yaws or any other web server shouldn't be a required dependency since Monitorix already has its own built-in web server. Of course, you can install an external web server (Apache, Nginx, Yaws, etc.) if you don't want to use the built-in HTTP, but that must be your decision.

Perhaps there is something special in your Debian that makes that package a required dependency.

I don

[2016-05-30 18:39] IzzySoft commented on #150
@mikaku you have `httpd` in the `recommends` section of the spec file (and so it's in the same place for Debian packages). This usually doesn't cause a conflict, as web servers normally use port 80. Why in the case of @lordslair it picked yaws, and why yaws uses port 8080 as default, I can't tell.

We could move `httpd` to the `suggests` part (most distris, if not told differently, automatically i

[2016-05-30 19:35] lordslair commented on #150
To see if it's Debian 8 related, I'll make some tests on a Debian 7, and if needed the latest Ubuntu
(to exclude some weird things on my Deb8 setup)

[2016-05-30 19:42] IzzySoft commented on #150
@lordslair I'm running it on Wheezy and Jessie (both ARM, BananaPi) and didn't notice the issue. But in both cases, `apt` was told to not auto-install recommends, so it couldn't become an issue. Moreover, in both cases Apache2 was already installed, so the `httpd` dependency was already met. You will have the very same issue on Wheezy as well unless you've configured `apt` with `APT::Install-Recom

[2016-05-31 11:10] mikaku commented on #150
@IzzySoft

I'm not aware of that *recommends* section in the .spec file (`docs/monitorix.spec`). Where did you see that?

Those that mean that Debian package has some kind of mechanism to auto install any *recommended* package in the .deb file?

I didn't know that feature of .deb files, and AFAIK that feature doesn't exist in the -rpm files.

[2016-05-31 16:16] IzzySoft commented on #150
@mikaku

I need to check again when I'm home. But I cannot remember having added recommends. Nevertheless, I'd say it's safe to remove (`httpd`) as Monitorix brings its built-in httpd, so we should remove it.

Depending on the distribution, that's enabled by default (e.g. on Ubuntu, while at least Debian Wheezy and Jessie on my BananaPi had it disabled by default). It's an option of the APT packag

[2016-05-31 16:24] mikaku commented on #150
Yes, as you said, it's safe to remove `httpd` since Monitorix already brings a built-in HTTP server.
Thanks.

[2016-05-31 21:11] IzzySoft commented on #150
@mikaku

Removed it from the "spec4deb". Quick check: another recommends which I've let remain is `iptables`. If that's OK, I'd say this issue can be closed. I won't make another `.deb` just for that – guess there will be a new version soon? ;)

[2016-06-02 08:53] mikaku commented on #150
Yes, I think we can close this issue.

I'm still pretty busy at work that prevents me to finalize some new graphs that I'd want to include for the next version, so it will be delayed a bit more.

Feel free to make a maintenance `.deb` release if you think it's really needed.
Thanks Izzy!

[2016-06-02 18:07] IzzySoft commented on #150
I don't think that little spec change justifies a maintenance release. And I don't want to pick something else unless it's declared stable by you :) So we'll wait until the next release is ready. Thanks alot!

[2016-06-03 06:40] #150 closed

[2016-06-03 08:35] beyoungwoo opened #152 "syntax error at Monitorix/monitorix line 687, near "my ""
if(lc($config{traffacct}->{enabled}) eq "y"    **# missing ) {'**

* working
 * if(lc($config{traffacct}->{enabled}) eq "y") {

[2016-06-03 08:47] mikaku commented on #152
Oops!, you're right.
Let me fix that right now.

[2016-06-03 08:49] mikaku commented on #152
@beyoungwoo,
Thanks a lot!

[2016-06-04 12:17] beyoungwoo commented on #152
Thank you

[2016-06-06 08:07] #152 closed

[2016-06-18 12:29] bluegroper commented on #102
<subscribed>

[2016-06-30 16:42] syadnom opened #153 "Feature Request: add radio button for Hourly in default install"
I like to see my charts in hourly increments sometimes.  I'm modifying the index.html file:
adding

          <input type="radio" checked name="when" value="1day">
            <font color="888800"><b>Daily&nbsp;</b></font>
        </td>**

to make

        <td bgcolor="333333">
          <input type="radio" checked name="when" value="1day">
            <font color="888800"><b>Daily&nbsp;</b></font

[2016-06-30 16:45] syadnom commented on #153
nevermind, this is already implemented in dev >3.8.1

[2016-06-30 16:45] #153 closed

[2016-07-11 08:20] Haringstad commented on #77
@mikaku, Thanks for making such a great monitoring tool. I am facing the same issue on my Raspberry Pi, running Ubuntu Mate 16.04, with kernel 4.4.14-v7+. Because of the huge amount of logging, I guess that this will reduce the life of my SD.... Could you please give it a higher prio, please?
Regards, Jacco

[2016-07-12 13:36] frollic commented on #103
@mikaku:

Any more thoughts about this ?

thanks
frollic

[2016-07-13 13:44] mikaku commented on #103
@frollic,

Sorry I still don't understand how to start collecting values and from where. In all, I'm completely lost.
Also, I don't know what type of values Monitorix will get; integers, percentages, with the sign character (or not), etc.

I don't even know from where to start. Perhaps if you can provide an example ...

[2016-07-13 14:46] frollic commented on #103
:)

You're only collecting return values from script X you execute, whatever happens within the script
is not of monitorixs' concern, as long as you get your value back in the correct format, and within preset limits, you shouldn't really care ...

As long at you set clear rules around what to report back, separators, etc, you should be able to
collect/log all kinds of numeric data, in my case, th

[2016-07-13 15:38] mikaku commented on #103
Ah! :)

If I understand you correctly, what you want is a *generic* module to monitor your own project that consists of a set of values that Monitorix doesn't know what they are and which relationship have with each other.

I believe that this kind of *generic* module should be made using well known guidelines in order to be able to monitor whatever people want: temperatures, pings, hits of anythi

[2016-07-26 11:12] mikaku commented on #77
@Haringstad,

Yeah, I know I'm a bit disconnected but I'm pretty busy at work lately.

I have in mind to change the way how Monitorix shows the interrupt graph, and instead of trying to detect architectures automatically (which resulted pretty difficult) I'd like to include a new option like **arch=**.

Possible values could be: **pc-standard**, **xen**, **rpi**,  or even **rpv3**, etc. This way,

[2016-07-29 20:17] Haringstad commented on #77
You are most welcome! For now, I only let it run when I suspect that
something is going on. So, for now, I do have a working solution!

You make sure that you take care of yourself!

And, it seems like a great plan you have, to use the arch= option!

Regards,

Jacco van Koll

On Tue, Jul 26, 2016 at 1:12 PM, Jordi Sanfeliu <notifications@github.com>
wrote:

[2016-08-04 08:02] yshinkarev opened #154 "Use of uninitialized value in concatenation (.) or string at /usr/lib/monitorix/port.pm line 312."
I install last version of monitorix to my nas My Book Live.
File monitorix.log filled with line:

Use of uninitialized value in concatenation (.) or string at /usr/lib/monitorix/port.pm line 312.

[2016-08-05 07:23] mikaku commented on #154
@yshinkarev,

This issue is already covered in #77.

[2016-08-05 07:23] #154 closed

[2016-08-15 17:53] emilio-aburto opened #155 "Wrong processor number value parsed from /proc/cpuinfo in proc.pm"
While looking into the log file there is a lot of this error lines:
`Argument ":" isn't numeric in preincrement (++) at /usr/lib/monitorix/proc.pm line 293.`
so, I looked the faulty line and the problem is [here](https://github.com/mikaku/Monitorix/blob/6d16857ce95589c3791e9aac2f25d7be3cb1f61e/lib/proc.pm#L293), copying lines 291-293:
[code]

The problem is that in my current system (Archlinux ARM

[2016-08-16 15:04] mikaku commented on #155
Thanks!

[2016-08-16 15:04] #155 closed

[2016-08-22 06:06] graysky2 opened #158 "Define 2 NICs in the Net section?"
Can one define 2 NICs in the net section?  `enp0s10` and `wlp4s0` for example?

[2016-08-22 06:26] mikaku commented on #158
As stated in the man page you can define (comma separated) up to 10 network interfaces.

Check the section *Network traffic and usage (net.rrd)* in `monitorix.conf(5)`.

[2016-08-22 06:34] graysky2 commented on #158
My bad... I just read the comments in `/etc/monitorix/monitorix.conf` itself.  Thanks!

[2016-08-22 06:34] #158 closed

[2016-09-01 05:34] graysky2 opened #159 "Official support for ODROID board's CPU temp"
Is it possible for you to include support for the ODROID-C1 and C2 in the existing CPU temp plot?  Using lm-sensors will not work (like Raspberry Pi https://github.com/mikaku/Monitorix/issues/10) but the CPU core temp is available but needs to be divided by 1000 and units are centigrade:
[code]
There are no others sensors on the board (vcore or other temp sensors).

[2016-09-05 08:15] mikaku commented on #159
Hey,

It's a pity that ODROID doesn't have other sensors since I could create an specific graph for it, having only the CPU temperature value wouldn't be enough for the typical layout of Monitorix.

So, where do you suggest we could put that temp value? I mean, in which graph?
You talked about *CPU temp plot*, which exactly graph are you referring to?

Thanks.

[2016-09-05 11:29] graysky2 commented on #159
I was thinking a very simple ODROID plot.  You can add the current cpu frequency too like you did for raspberry pi. So 1 for CPU temp and 1 for CPU freq.

Frequency here is displayed in Hz:
[code]

[2016-09-05 13:26] seefood commented on #47
Also, if I may suggest, document the commandline for a socket config. the man says each DESC line gets three parameters, that makes sense for a TCP connection but not for a socket file. I understand the "3306" is a filler value I can ignore?

[2016-09-05 14:38] mikaku commented on #47
You're right, let me know if that suffices. :)
Thanks!

[2016-09-08 08:22] mikaku commented on #159
Two values?, nice, that would be a double-graph layout, just like the Fail2ban graph.
I'm a bit busy at work now (server migration), once finished I'll begin coding on it.

[2016-09-08 19:50] graysky2 commented on #159
Great, looking forward to it and thank you as always for the great support!

[2016-09-10 16:59] kyak opened #161 "Show real names in lmsens module"
It would be great to show real names of sensors in lmsens module.
Currently the names are fixed, like Fan 0 or CPU 0 to make sure that they will fit into the graph.

However, if the number of fans is less than four, there is enough space on graph to display the real name (as configured in lmsens config section).

It should be possible to modify code to use real names when there is enough space on

[2016-09-20 12:34] sebelk opened #162 ""Use of uninitialized value..." errors"
Hi,

Ihave the following errors:
[code]

If I use the url with parameters works (e.g: http://192.168.6.13:8080/monitorix-cgi/monitorix.cgi?mode=localhost&graph=_squid&when=1day&color=black)

Permissions are:
[code]

System info:

OS: CentOS Linux release 7.2.1511 (Core)
monitorix-3.8.1-1.el7.noarch
rrdtool-1.4.8-9.el7.x86_64
rrdtool-perl-1.4.8-9.el7.x86_64

It's a bit weird because I have the same

[2016-09-20 17:26] sebelk commented on #162
I've compiled from source and I have the same errors, please could you help me?

[2016-09-21 10:31] sebelk commented on #162
I've found that for a reason that I can't understand only works on loopback:

[code]

I have nothing on interfaz eth0, I mean only work on the same server running monitorix

Why does log say?
`
HTTPServer: You can connect to your server at http://localhost:8080/`

Most amazing is:

[code]

The section of builtin server:
[code]

Really don't understand...

[code]

Any ideas?

Thanks in advance!

[2016-09-21 11:08] mikaku commented on #162
I'm sorry but I'm unable to understand what exactly is not working.
Please, provide the URL you are using and with that you are experiencing problems.
Thanks.

[2016-09-21 17:16] sebelk commented on #162
Mikaku,

URL: http://192.168.6.13:8080/monitorix-cgi/monitorix.cgi

What is not working is the web pages of monitorix are broken if I try to access from a host distinct of the one that has monitorix running.

Only works if I submit with parameters, eg: http://192.168.6.13:8080/monitorix-cgi/monitorix.cgi?mode=localhost&graph=_squid&when=1day&color=black

otherwise it complains, (using builtin http

[2016-09-21 17:44] mikaku commented on #162
That URL incomplete as it lacks the corresponding parameters.

That's perfectly normal, most programs don't run correctly or generate errors if the parameters supplied are invalid.

The URL.

[2016-09-21 18:12] mikaku commented on #162
Again, that looks like a wrong URL.
Did you reached to that page after pressing the OK button?

[2016-09-21 18:19] sebelk commented on #162
What is the right url? I get the same if I remove the trailing "?"

[2016-09-21 18:20] sebelk commented on #162
Oh, sorry shame and shame on me!!!

I've found that right url is http://192.168.6.13:8080/monitorix/
The trailing "/" is important!

Thanks!

[2016-09-21 18:20] #162 closed

[2016-09-26 16:49] mikaku commented on #161
Please, download the development version of **lmsens.pm** and let me know if it works as expected.
Thanks.

[2016-10-03 17:17] #161 closed

[2016-10-04 09:14] mikaku commented on #159
@graysky2,

It looks like these sensors are pretty generic, I mean, they are not specific of ODROID.
I have them in my Asus motherboard:

[code]

I think we should rename that graph to something like `gensens`.
What do you think?

[2016-10-04 09:26] mikaku commented on #159
I think that this graph could be more generic in the sense that it could be scale up to unlimited sensors being monitored on different graphs, Something like this:

[code]

With this configuration you set up two graphs which include the temperature sensor in the left one and the CPU frequency in the right one. Monitorix knows from where to get the value of each sensor thanks to the option `<desc>`

[2016-10-04 10:22] mikaku commented on #159
I have included the option `<unit>` in order to be able to make some simple math on the value. If its associated value is greater than zero then it will be divided by that value, else if it's lesser than zero it will be multiplied.

Hopefully this logic will cover almost all situations:

[code]

[2016-10-04 18:47] graysky2 commented on #159
Did you commit and push to a dev branch or something I can try.  I do not see this code in the master branch.

[2016-10-05 07:55] mikaku commented on #159
Hopefully today I'll be able to make a commit with a preliminary version.

[2016-10-05 13:29] mikaku commented on #159
I've made some changes in order to have a more consistent graph. Now there is a limit in the number of graphs to 2; for temperatures and for CPU frequencies, and for each one you can define up to 9 sensors.

Here is a recent screen shot from my PC:

![gensens](https://cloud.githubusercontent.com/assets/829885/19114925/4d09d848-8b10-11e6-8ae5-0214d274b3ce.png)

[2016-10-05 16:22] mikaku commented on #159
Are you sure? AFAIK it would mean you have a 1.5Mhz processor. :smiley:

I think this is displayed in Mhz, which would bean 1.5Ghz processor. If so, we need to multiply this value by 1000 in order to have a more real scale in the graph.

[2016-10-05 18:40] graysky2 commented on #159
Pulled down 8a0b97c and running on my ODROID-C2.  Will provide feedback after a few hours of data collection.  Thanks!

[2016-10-05 20:27] graysky2 commented on #159
Is it possible to select a different color for the line?  Dark blue on black is a little tough to see... yellow would be a good default (or another bright color).

[2016-10-06 03:55] akai0211 opened #164 "Mail Graph can't show statistics"
I'm using Monitorix on CentOS 7. Everything seems to be okay but mail graph can't show the statistics. This is what I see from Monitorix log although I had pflogsumm. Can monitorix automatically recognize pflogsumm or we must place in exact folder, could anyone clarify this?
`Thu Oct  6 10:46:00 2016 - mail::mail_update: 'pflogsumm' returned empty data. Is it really installed?
ntpq: read: Connecti

[2016-10-06 07:37] mikaku commented on #164
Monitorix uses your environment variable `$PATH` to find the tool `pflogsumm` or `pflogsumm.pl`.

This is the command that Monitorix uses to get Postfix statistics:

[code]
So please, make sure the option `mail_log` is correctly configured and it points to the right log file.

[2016-10-06 08:01] akai0211 commented on #164
Thanks for your reply, I've tried out the paths for mai_log such as var/log/maillog and var/log/zimbra.log (The Zimbra syslog details the activities of the Zimbra MTA (Postfix, amavisd, antispam, antivirus), Logger, Authentication (cyrus-sasl), and Directory (OpenLDAP)), but the result doesn't change.

[2016-10-06 08:03] mikaku commented on #164
Have you tried to execute the command line I showed you in my previous post?

[2016-10-06 08:11] akai0211 commented on #164
I've tried that, this is the result

`pflogsumm.pl: "no_bounce_detail" is depreciated, use "bounce_detail=0" instead
pflogsumm.pl: "no_deferral_detail" is depreciated, use "deferral_detail=0" instead
pflogsumm.pl: "no_reject_detail" is depreciated, use "reject_detail=0" instead
pflogsumm.pl: "no_smtpd_warnings" is depreciated, use "smtpd_warning_detail=0" instead
Postfix log summaries for Oct  6

[2016-10-06 16:11] mikaku commented on #164
I'd say that for an unknown reason the path of your `pflogsumm` is not in the `$PATH` of Monitorix. Where it's located?

[2016-10-07 01:31] akai0211 commented on #164
I placed it on usr/local/bin

[2016-10-07 06:08] mikaku commented on #164
Can you, please, create a symbolic link of it into `/usr/bin`?

[2016-10-07 07:11] akai0211 commented on #164
I'm so sorry when bothering you, i'll try myself to fix this problem

[2016-10-07 07:48] mikaku commented on #159
There is an array of 9 colors (one for each entry) and the first one is that blue. I can change the order to be the yellow the first one. Anyway, the same tone of blue is used in other graphs without any problem.

If I change the y-axis to Mhz then you'll see values in `k` instead of `M` and you'll end up reading it as *NNNk of Mhz* instead as *NNNMhz* like now. I mean, the y-axis must have the un

[2016-10-07 09:02] mikaku commented on #164
Does this mean that it worked once you created such symbolic link?

[2016-10-07 09:10] mikaku commented on #159
The problem with that frequency values, unlike temperatures, is that they change their values from high to low in a second (even in less time). Monitorix acquires data at one minute intervals, which means that in order to see the real value on the graph it must have such value at the same time that Monitorix acquires the value, which indeed it makes it pretty difficult. Moreover, since the graphs

[2016-10-07 11:28] graysky2 commented on #159
That would be great, thanks!

OK.  Thought I'd ask.

OK.  I thought there was a setting to plot the raw values rather than averaging them on the plot.  I just googled for this but came up empty.

Overall, I think this is a great addition to the tool and seems to be working just fine (2 days now):

![screenshot_2016-10-07_07-28-06](https://cloud.githubusercontent.com/assets/534822/19188430/a0774ba0

[2016-10-07 17:37] mikaku commented on #159
I think that's not possible. If you use time with values you'll get averages.

[2016-10-07 18:53] graysky2 commented on #159
OK... just wanted to check.  I think this feature is "working" just fine.

[2016-10-07 21:41] mikaku commented on #159
OK ... closing, thanks for your feedback!

[2016-10-07 21:41] #159 closed

[2016-10-08 06:23] akai0211 commented on #164
Nope, it's still that error, anw thanks for your enthusiasm

[2016-10-08 10:13] mikaku commented on #164
Well, I think you have not installed `pflogsumm` correctly in your CentOS 7. It looks like you have not used the package management `yum`, and that's why you have `pflogsumm` installed in `/usr/local/bin`. Probably a manual installation, which is always bad.

Look at this:

[code]

As you can see, the official CentOS 7 package `postfix-perl-scripts-2.10.1-6.el7.x86_64.rpm` will place `pflogsumm` i

[2016-10-10 03:19] akai0211 commented on #164
it run perfectly, thank you so much :+1:

[2016-10-10 06:18] #164 closed

[2016-10-11 08:32] gsouf commented on #141
@IzzySoft Is it updated on izzysoft ?

Thanks

[2016-10-13 19:08] IzzySoft commented on #141
@gsouf Did I miss a release? According to [the releases page](/mikaku/Monitorix/releases), the last one was v3.8.1 from 11/2015. So unless Mikaku makes a new release, there won't be an update on my end, sorry.

[2016-10-13 20:25] mikaku commented on #141
I plan to release 3.9.0 tomorrow.

[2016-10-13 22:14] IzzySoft commented on #141
Thanks for the hint, @mikaku – not sure if I'll have the packages ready immediately thereafter, but I'll do my best to have them in place before the weekend is over then (remember I might need some testing before I can push the packages :) I should receive a "ping" from GH as soon as the tag has been pushed.

[2016-10-13 22:25] graysky2 commented on #159
How can we accomplish this?  BTW, a week's worth of data:
![screenshot_2016-10-13_18-25-35](https://cloud.githubusercontent.com/assets/534822/19369281/7564daf0-9172-11e6-8ebc-3275ddf2df61.png)

[2016-10-14 06:52] mikaku commented on #159
test this last commit:

<https://github.com/mikaku/Monitorix/commit/297397f347fdc12f777c11bbd6bb671800416167>

[2016-10-14 10:01] mikaku commented on #141
@IzzySoft no problem, take your time. :wink:

[2016-10-14 18:26] graysky2 commented on #159
Just updated to 3.9.0 which includes that commit.  Looks very nice!  Thanks for the great tool and for the great relationship you foster with your user base!

![screenshot_2016-10-14_14-25-42](https://cloud.githubusercontent.com/assets/534822/19398338/2d80bba2-921a-11e6-95f3-f6e8c5412346.png)

[2016-10-14 21:58] mikaku commented on #159
I'm glad to hear your are satisfied, really.
Thanks!

[2016-10-16 14:23] IzzySoft commented on #141
@mikaku @gsouf @milandamen Monitorix 3.9.0 is now updated in the repo. Successfully tested (quick-test) on Ubuntu 12.04, Debian Wheezy 64bit, Debian Wheezy ARM / Bananian (Jordi: There's still one issue waiting for a year now concerning Bananian. Hope you didn't forget that feature-request :)

Another suggestion: If you've plans to integrate the unbound name server and need some input, let me know

[2016-10-16 15:31] #111 closed

[2016-10-16 15:41] #117 closed

[2016-10-16 15:43] mikaku commented on #125
After one year, I think we can close this.

[2016-10-16 15:43] #125 closed

[2016-10-16 15:45] #133 closed

[2016-10-16 15:55] mikaku commented on #147
@Silmano

I realized now that this command is wrong, you are trying to execute a file that don't has the proper execute permission bits. If you try the same with any other file even writeable for you but without execution permission files, you'll get the same message.

This means that we still don't know if the user `nobody` in your system has a special treatment.
Regards.

[2016-10-16 16:00] mikaku commented on #141
@IzzySoft, thanks for the build is now reflected in the official web site. :+1:

You mean the issue with be able to reload certain graphs instead of all?. Well, since the `refresh_rate` option affects the whole page and all graphs, it means that we need to make this as something completely optional.

I haven't heard anything about `unbound` name server, sorry.

[2016-10-16 16:02] mikaku commented on #141
We should stop as the commentaries here are completely unrelated and might disturb @milandamen.

@IzzySoft email me directly or better open a new issue, thanks :wink:

[2016-10-16 16:07] milandamen commented on #141
No problem :) I'm glad this project is still being worked on.

[2016-10-16 22:52] sinoserendipity opened #166 "AH01215: Use of uninitialized value in multiplication"
I installed monitorix under clearos, when i use build in http server, the webpage often can not be opened, I have to often restart the monitorix server, so I try do not user build in server, but when i user clearos web server, The server encountered an internal error or misconfiguration.

`[Sun Oct 16 17:32:17.117323 2016] [cgi:error] [pid 27228] [client 192.168.1.10:56434] malformed header from s

[2016-10-17 07:14] mikaku commented on #166
@sinoserendipity,

I don't understand what you mean. I assume you did a wrong Monitorix installation.

You are receiving the error message `malformed header from script 'monitorix.cgi'` because you switched to a an external web server without informing Monitorix of your intentions. Please, read the FAQ at <http://www.monitorix.org/faq.html#Q305> and learn how to disable the built-in HTTP server.

[2016-10-17 17:38] sinoserendipity commented on #166
@mikaku
Thank you for your reply, before i think no conflict between internal and external web server, now i disable the built-in web server, it works fine now!
Really sorry about the mess, I will pay attention next time. Thanks again.

[2016-10-17 19:45] mikaku commented on #166
That's great! :+1:
I think we can close this issue.

[2016-10-19 10:35] ZalemCitizen opened #167 "Feature request: php-fpm support"
What about reading FPM status page and display idle/busy workers, etc ?
Thx

[2016-10-24 23:26] niutech opened #168 "Monitorix being connected to some malicious hosts - vulnerability?"
I have been running Monitorix 3.8.1 under Debian Jessie (`Linux 3.16.0-4-amd64`) on `myhost.com:8081` (`tproxy`). However, I can see many malicious connections on this port using `netstat -p`:

[code]

For example, [122.224.153.109](http://122.224.153.109.ipaddress.com/) is an address in China. Does it mean Monitorix is vulnerable and I have been hacked?

[2016-10-25 07:25] mikaku commented on #168
@niutech,

As long as you have a public server on Internet you should expect a lot of daily remote connections on HTTP, SSH, FTP, etc. and other well-known ports like 8080, 8081, etc. trying to discover the software that runs behind (WordPress, PHPAdmin, etc.) in order to be able to take advantage of a software vulnerability.

You can mitigate these remote connections to Monitorix by using the Bas

[2016-10-25 18:39] niutech commented on #168
So I suppose it is secure as long as I have authentication enabled,
isn't it? How to tell if my server is behaving normally and isn't
hacked, using netstat? Thanks!

[2016-10-26 07:42] mikaku commented on #168
@niutech,

I can't ensure you that your server will be secure forever even with authentication enabled, because it depends if the network from where you are authenticating is secure. What I said is that enabling Basic Authentication will help you to reduce all these remote connections.

This question is out of the scope of Monitorix. Anyway, I don't think `netstat` will tell you if your server is

[2016-10-26 23:16] IzzySoft commented on #168
@niutech if you want to secure your server a little better, I recommend you take a look at fail2ban. Ships in the standard repos of Jessie. You could create specific rules on log entries you see and have fail2ban block "bad users' IPs" (e.g. those who try to access `/wp-admin` and the like, i.e. typical Wordpress etc. attacks). Monitorix then even can show in a graph how many of the bad guys you'v

[2016-10-30 13:50] robjens commented on #146
This must have something to do with nginx reverse proxy in my case, I'm fairly sure it is trying to see if its own ip address matches and nginx won't pass it along just anytime. Anyway, I'll stick with the password protection for now but pretty certain this would be the cause on my end.

[2016-10-31 08:55] mikaku commented on #146
@robjens,

Then perhaps the best place to put those `host_allow` and `host_deny` directives is in the proxy server.

[2016-11-08 21:34] robjens commented on #146
@mikaku Yeah..stupid I didn't realize it back then. I'll close this, thanks for checking back with me :+1:

[2016-11-08 21:34] #146 closed

[2016-11-12 02:58] bluegroper opened #169 "Understanding Changed Graphs [SOLVED]"
Hi Jordi
Thx for email.
I've had a deeper look at our recent Mail Statistics graphs, and suspect I made a mistake.
It seems that new monitorix is now graphing RBL rejections (in purple).  Thats great.
It seems that new monitorix is no longer graphing greylisted emails.  These were previously included as Rejected (in Red on graph).  Thats ok.
It seems I had misread the new graph, was accustomed to

[2016-11-14 11:09] mikaku commented on #169
@bluegroper,

Thanks for your clarification, this indeed might be of help to other people.

And yes, you're right. There is an opened issue #102 to be able to include support of Postgrey (the Postfix Greylisting), buy I'm not getting much information form the person who opened such issue.

Perhaps you can bring more information on the subject in that issue.
Thanks.

[2016-11-14 11:09] #169 closed

[2016-11-15 09:28] bluegroper commented on #102
Lets see whether I can be of any assistance, rather than just a nuisance.
It would be superb if Monitorix could include Greylisting graph for CentOS server/s running postfix with postgrey package.  Its a common configuration.
I believe greylisting data is needed from some logs.
In Monitorix 3.8.1 greylisting stats were included as Rejected (Red) messages in graphs, but this no longer happens in ve

[2016-11-15 12:27] mikaku commented on #102
@bluegroper,

The only change in the `mail_update()` function was to include support for a new value. This https://github.com/mikaku/Monitorix/commit/4ce6404a3e129258c2c52966e684e0c80640f97d from #118 is commit that did the change. (perhaps I misunderstood your private email, sorry).

Greylisting data in Postfix was never supported, unless you specifically added the greylisting values in some part

[2016-11-15 21:34] bluegroper commented on #102
Hey Jordi

I'm detecting some confusion.
We've been using postgrey for years. More recently we start using monitorix.
Somehow, the code in Monitorix 3.8.1 was including data for greylisted
emails as Rejected (Red) in our graphs.
This no longer happens in 3.9.
Sorry, I haven't had time to try and understand your code, or diff any
changes.
Maybe caused by the word "rejected" included in every greyli

[2016-11-17 08:50] Almtesh commented on #140
Please, be more precise in your titles, you can put something like "Add Redis" or "memcached present, but why not Redis?"  or something like that.

[2016-11-17 08:55] Almtesh opened #170 "Request: Battery status"
It would be great to have the battery statuses in monitorix.
For the moment, I used a workaround like this one:
[code]
But the current and the charge a shown in celsius and I don't know how to watch the full capacity.

[2016-11-17 14:13] mikaku commented on #102
Please, don't use email replies as they don't support Markdown formatting. Take some time to learn how Markdown works.

[2016-11-18 20:50] bluegroper commented on #102
Illegible clip from logfile deleted.  Agree completely.  It looked fine in email, but pointless in this place.  Note to self, and sorry for bother.

Yes, postgrey does the greylisting, and makes some logfiles.
I was assuming (perhaps incorrectly) that monitorix would somehow gather the data, and make useful statistics.
When time permits, I'll see if I can find any summary from postgrey or pflogsum

[2016-11-18 21:45] mikaku commented on #102
I'm sure that Postgrey shows statistics in some file or whatever, so please, let me know when you discover it. I'll be glad to include support for Postgrey.

Thanks.

[2016-11-19 01:10] bluegroper commented on #102
**pflogsumm**

Here's some sample output from pflogsumm from a very small mailserver.
Observations :
1.  No _greylisting_ stats from pflogsumm ?
2.  Looks suspiciously like greylisted emails being incorrectly (?) included in "rejected" counters.
[code]
**postgreyreport**

https://wiki.centos.org/HowTos/postgrey#head-70ed10e62fb7da94deb39a987e1e4e205c2ae2c5
postgreyreport seems to only make a big l

[2016-11-19 02:25] bluegroper commented on #102
??
https://www.fi.muni.cz/~kas/blog/index.cgi/computers/postgrey-statistics.html

[2016-11-22 09:59] c33f opened #171 "Add alerts to lmsens"
Hi, Could you please add alerts to lmsens so I can get alerts about CPU temperature.
Thank you

[2016-11-29 13:55] gibzer opened #172 "Feature request: Port graph - add port range"
Make possible to define port range. Now it's possible to add only single port for monitoring.

For example:
[code]

[2016-11-30 09:31] undee123 commented on #108
Hi folks,

I've installed monitorix to check my icacast server, but I don't get real time statistics, it takes several minutes to show the current listeners. Refresh rate is set to 20 (was 150), but didn't change anything.

Config is same as mikakus.

[2016-11-30 10:02] mikaku commented on #108
I don't understand this, you mean that you don't get stats but at the same time it seems you finally see the current listeners?

What you see in the Monitorix graphs are average values, and of course, they might take a few minutes to start showing results. That's completely normal.

In the other hand, the sampling rate of Monitorix is 60 seconds, so any refresh in the web site less than this time

[2016-11-30 10:15] undee123 commented on #108
Ok, I'll make an example to make it clear.
This is my actual statistic:

![image](https://cloud.githubusercontent.com/assets/7920265/20748301/e5683220-b6ed-11e6-94f6-7edf4f8b20ec.png)

Now when I open the streams on some devices to get more listeners, the status page on the icecast servers shows them instantly, while the monitorix server needs a few minutes just to show the correct number of the a

[2016-11-30 10:26] mikaku commented on #108
Yes, as I said before, the Monitorix sampling rate is 60 seconds (1 minute), this means that Monitorix will take up to 1 minute to get the new value of listeners, and that value, if it's constant enough, will appear in the graph in the next 2 or 3 minutes. This is how it works in most monitoring programs.

In the other case, if that new listener only was there for about 1 minute, then Monitorix pr

[2016-12-01 17:16] mikaku commented on #172
This is interesting, but keep in mind that using this configuration Monitorix would show all network activity of ports 30000 through 30100 into one single graph, and all network activity of ports 40000 through 40100 also in another single graph.

This is fine to me, otherwise creating a graph for each port in every range would be a complete mess.

[2016-12-02 09:05] gibzer commented on #172
Yes, I meant all activity of ports 30000 through 30100 on one single graph. No need to do separated graph for each port in range.

[2017-01-11 11:03] Klef opened #173 "icecast not data"
Good day
icecast version 2.4.0
monitorix version 3.9.0
config for icecast
`<icecast>
        list = http://radio.wasteland.su:8080/status.xsl
        <desc>
                http://radio.wasteland.su:8080/status.xsl = /radio, /radio.aac, /fall, /fall.aac, /last, /zf_wr, /zf_lw
        </desc>
        graph_mode = r
        rigid = 0, 0
        limit = 100, 100
</icecast>
`
from machine uri http://r

[2017-01-11 11:07] mikaku commented on #38
Hi,

I've been working on this in the past weeks and this is what I have right now:

![mongodb](https://cloud.githubusercontent.com/assets/829885/21845698/e826aa74-d7f3-11e6-83cd-19e0de248906.png)

The new `mongodb.pm` module supports monitoring of unlimited number of MongoDB servers, either locally or remotely.

That module uses the command `serverStatus` to gather overall statistics of each Mong

[2017-01-11 16:09] mikaku commented on #173
@Klef,

It works perfectly well here:

![icecast](https://cloud.githubusercontent.com/assets/829885/21856012/b355b2ae-d820-11e6-8e35-fc59935256a4.png)

My setup
------------

[code]

Your problem
-----------------
Your setup includes nonexistent Mount Points, and also they are specified in a different order as they appear in the URL.

As stated in the Monitorix man page:

[code]

[2017-01-12 11:49] Klef commented on #173
oh, thx
sorry, my fault

[2017-01-12 11:49] #173 closed

[2017-01-13 09:18] mikaku commented on #38
This is done in 0fdc7f2f6008d65113e505aa5e8e33f34f00375c.

[2017-01-13 09:18] #38 closed

[2017-01-17 20:40] Josue-T opened #174 "Email report with svg option"
Hello,

When we set the `image_format` option to svg on the web server it's ok. But when we want to send an email report the binary of the image are in svg, but in the in the mail  `Content-Type` data is set to `image/png` and the extension is png. So the email client can't read this image.
For example I find that in the email source code :
[code]
but after the binary is encoded in svg format. I t

[2017-01-18 09:19] mikaku commented on #174
Hello,

The `image_format` option only affects the graphs generated by Monitorix, not the logos.

Besides this, I've seen that the module `emailreports.pm` doesn't honor that option and it always uses the same mime type `image/png`, even when that option is set to `SVG`. Also, the module `traffacct.pm` has the same problem.

I'll fix this.

[2017-01-18 10:33] Josue-T commented on #174
Hello,

I didn't see that my example is about the logo picture, I knew that it's only about the graphs.

Thanks to fix this.

[2017-01-18 10:39] mikaku commented on #174
@Josue-T, no problem.

I've also fixed to name correctly each attached graph in the email, so now you should be able to save the graphs more easily.

[2017-01-18 15:26] #174 closed

[2017-01-19 17:30] #168 closed

[2017-01-26 05:29] fj11 commented on #84
+1

[2017-02-10 13:20] pejirout commented on #84
Would me much appreciated. +1

[2017-02-13 21:21] aularon commented on #38
Hello,
When will a new version that includes this be released?
Thanks!

[2017-02-14 05:11] fj11 opened #175 "support of JVM"
Hi,
Is there any plan to support monitor JVM status?

Thanks.

[2017-02-14 08:45] mikaku commented on #38
@aularon,

I have no specific schedule for every version, so I can't tell you when it will be released.
I'd like to include some new things in the current devel version before releasing it.

[2017-02-20 21:58] thew0mble opened #176 "Feature Request: DNS Server unbound"
The ability to get some stats from the unbound-control dns caching server similar to what you already with bind.

They provide instructions how to use munun, I would like to use Monitorix.
https://www.unbound.net/documentation/howto_statistics.html

[2017-02-26 06:22] gkgourav45 commented on #99
what is  / = sda12 under <devmap>?

[2017-02-27 09:18] mikaku commented on #99
@gkgourav45,

`man 5 monitorix.conf` and search for **devmap**.

[2017-02-27 23:36] RichieB2B opened #177 "Doesn't work with Safari 10 on OS X 10.12"
When using 3.9.0-izzy1 (Debian package) with Safari 10 on OS X 10.12.3 the builtin Monitorix web server always returns a 400 error. This is probably because Safari attempts an HTTP/2 (h2) handshake. When I visit the same URL with Firefox everything is fine.

[2017-02-27 23:42] RichieB2B commented on #177
Never mind, I have an HTTPS server on the same server that sends HSTS headers. As a result Safari will always force an HTTPS connection (and attempt HTTP/2 first). Using a different hostname all is fine.

[2017-02-27 23:42] #177 closed

[2017-02-28 07:15] mikaku commented on #177
Thanks for clearing this up.

[2017-03-03 20:10] mmattel opened #178 "Possible multihost bug 3.9.0"
2 servers running Ubuntu 16.04, both monitorix running 3.9.0
Enabled multihost on the origin.
[code]
I can access the origin server and the remote server with direct access and all graphs enabled show fine,
but when I access the remote server via monitorix, only one grap is shown. The other graphs can only be accessed via the list.

[2017-03-06 07:37] mikaku commented on #178
Hi,

It's not a bug but a feature. ;-)

Multihost is a different view to see the graphs on remote servers. It's an easy way to see the same graph of multiple servers at the same time. This is useful to see quickly how servers are going on an specific service.

If you want to see all graphs of a remote server you don't need to enable the Multihost feature, just point your browser to that server dir

[2017-03-06 08:21] mmattel commented on #178
Some notes,
this behaviour is not described in the documentation, but should be.
I know that I can access the servers directly, but this is not the point. One server has outworld connectivity and monitorix only can be accessed only via this server (secured ect). Therefore this feature of multihosting is very useful.
Suggestion: add a parameter to multihost, default to the current behavior, to show

[2017-03-12 19:41] dirk-burkhardt commented on #142
Oh yes, I would appreciate this feature too! :)

[2017-04-03 07:04] frollic opened #179 "is ipmi supported ? or is it coming ?"
I found traces of it here on the github (.conf file, etc) ...

and how does it work ?
does it use the ipmi-sensors binary from FreeIPMI ?

[2017-04-03 08:39] mikaku commented on #179
Hi,

This is a new graph that will be available in the next version (or you can download the current development version if you don't want to wait for it).

This graphs uses the command line `ipmitool sdr` to collect data from fans, temperatures and battery volts. Here is a screen shot:

![ipmi](https://cloud.githubusercontent.com/assets/829885/24601532/814a7e2e-1859-11e7-987c-1307aaa1ea37.png)

`

[2017-04-03 12:11] frollic commented on #179
That's great news !

and thank you for the info.
Grabbed the ipmi.pm file, made the adjustments required in the conf, and works lite a charm!

[2017-04-03 13:26] mikaku commented on #179
Perfect!
:+1:

[2017-04-04 10:16] #179 closed

[2017-04-07 09:53] mikaku commented on #65
Please check https://github.com/mikaku/Monitorix/commit/0fdc7f2f6008d65113e505aa5e8e33f34f00375c commit.

[2017-04-07 09:53] #65 closed

[2017-04-28 16:28] slaurencelle opened #180 "error when trying to monitor remote mysql/mariadb database"
Hello,

I receive this error in the monitorix log when trying to monitor remote mysql database

Use of uninitialized value in split at /usr/lib/monitorix/mysql.pm line 633.
Use of uninitialized value in concatenation (.) or string at /usr/lib/monitorix/mysql.pm line 633.

and in the graph for each mysql server i get nan in the resulting graph

can someone help me on this one.

Regards,

Stephane

[2017-04-28 18:13] slaurencelle commented on #180
Hi guys,

i found what is causing the error but i'm still don't have the solution.

the problem is when i define multiple server in the list option of the mysql it's seem to cause the problem that the graph stop working.

here is what i put in the monitorix.conf file

<mysql>
        conn_type = host
        list = drakkar, remparts, oceanic, cataracters, foreurs, olympiques, tigres, huskies, wild

[2017-04-28 18:32] slaurencelle commented on #180
here s also what i put in the desc section, maybe that is more what causing my problem

<desc>
                drakkar = 3306, user, mp
                remparts = 3306, user, mp
                oceanic = 3306, user, mp
                cataracters = 3306, user, mp
                foreurs = 3306, user, mp
                olympiques = 3306, user, mp
                tigres = 3306, user, mp

[2017-04-28 20:30] slaurencelle commented on #180
Hi guys,

ok i found what was the problem.

first in the documentation between the comma for the list or in the descr section there is a space between each name or information in the desc section.

it's not working when you have multiple mysql serveur to define you don't need space after each comma .

so the mysql section would look more like that:

<mysql>
        conn_type = host
        list =

[2017-04-28 20:31] #180 closed

[2017-04-30 14:31] frollic opened #181 "Warning: <context> element has non-unique value in 'name' key attribute in bind.pm line 308."
Enabled bind in the conf file, and monitorix started to throw these warnings:

Warning: <context> element has non-unique value in 'name' key attribute: zonemgr-pool at /usr/lib/monitorix/bind.pm line 308.
Warning: <context> element has non-unique value in 'name' key attribute: client at /usr/lib/monitorix/bind.pm line 308.
Warning: <context> element has non-unique value in 'name' key attribute: cl

[2017-05-10 07:41] WyRe opened #182 "Toggle off background red color feature in port.pm module"
After talking with @mikaku on IRC he has concluded this feature could be deprecated, however, somebody could still found it interesting and will be fine to add a trigger to control the feature.

Regards.

[2017-05-10 08:13] mikaku commented on #182
Thanks @WyRe,

That old feature appeared when *port.pm* module was created to control the network port of each listening service. So, if Monitorix detects that one of these ports is not listening, it just advices the user changing the background color of the graph.

This indeed has no sense nowadays since you can monitor any network port (listening or not), but since someone might still find such

[2017-05-11 07:51] mikaku commented on #182
This commit should fix that issue.

[2017-05-11 07:51] #182 closed

[2017-05-11 09:29] WyRe opened #183 "<desc> are not properly shown in <lmsens> graphs"
I am having got issues to show properly the lmsensors descriptions in the graphs, that's my monitorix.conf

[code]
And this is my `sensors` output:

[code]
Finally these are the graphs what I get:
![captura de pantalla de 2017-05-11 11-26-22](https://cloud.githubusercontent.com/assets/4059108/25942294/c37fed78-363c-11e7-8132-0d55b686de64.png)

Also as you can see, the `temp1` output is not working

[2017-05-11 09:40] mikaku commented on #183
The only I see is that **temp1** has 0 degrees. Can you please check your Monitorix log file to see if there are some error messages?

If the **temp1** value came from zero, it might take some minutes to start showing the real value.

[2017-05-11 09:42] WyRe commented on #183
Yes, you are right, that's fixed but what do you think about descriptions?
![captura de pantalla de 2017-05-11 11-41-43](https://cloud.githubusercontent.com/assets/4059108/25943063/eebec318-363e-11e7-9a68-709964bb4e4d.png)

[2017-05-11 10:02] mikaku commented on #183
If you mean why you don't see your descriptions in the Voltage graph, then keep in mind that the `<desc>` section is not applicable to that graph:

[code]

(Besides this, I see now that this sentence does not include the Core graph. Fixed now.)

[2017-05-11 11:10] mikaku commented on #181
@frollic

I've seen a similar problem here <https://rt.cpan.org/Public/Bug/Display.html?id=45025>

Can you, please, change the line <https://github.com/mikaku/Monitorix/blob/master/lib/bind.pm#L308> in your `bind.pm` by:

[code]

and restart Monitorix.

Let me know.

[2017-05-11 11:16] WyRe commented on #183
mmm I would suggest you to include also that grap xD

[2017-05-11 13:52] mikaku commented on #181
Can you pastebin (here or somewhere) the complete XML output you get using the same command line as in your `list` option inside the `<bind>` section of your Monitorix configuration file?

Thanks.

[2017-05-11 15:21] #183 closed

[2017-05-12 12:52] frollic commented on #181
Hi,

not sure how should have DLed the page, so I used curl - curl http://localhost:8053/ > a

Here's the output.
https://paste.fedoraproject.org/paste/21Yl3GB8gazv5~MMIJoKzF5M1UNdIGYhyRLivL9gydE=/raw

I haven't made any adjustments to the bind section in the conf file, which my be the culprit.

[2017-05-12 14:44] Alkaris opened #184 "Incorrect and misconfigured file paths in Monitorix"
it seems by default somehow this comes packaged misconfigured and has incorrect file path issues. I installed this from Debian source and it has issues with loading the missing image files or it has incorrect directory names that have a double slash in the file paths particularly with `/var/lib/monitorixdisk.rrd` specifically. All the other ones are there except that one. and then you also got mis

[2017-05-15 08:58] mikaku commented on #184
I don't see any problems installing Monitorix on Debian and using the default configuration. Also, the double slash is never a problem since the kernel obviates it automatically.

It looks like you have modified the configuration file and you removed a trailing slash in the option `base_lib`.

Please check your configuration file and compare it with the default that comes with the original package

[2017-05-15 09:21] Alkaris commented on #184
I have to say you are wrong @mikaku, I looked in the directories where those files are suppose to be and they do not exist at all. I've checked it many times. those files it mentions do not exist in the default configuration that was installed. I haven't removed any trailing slashes at the option for `base_lib` either, I only removed the double slashes that were causing it not to find the other di

[2017-05-15 09:48] mikaku commented on #184
Can you, please, pastebin your current configuration file?
(*please hide before any sensible information!*)

[2017-05-15 12:22] IzzySoft commented on #184
@Alkaris To make things easier: You wrote you've installed from "Debian source". I'm not sure what source you point to there, and which steps you performed to install (maybe you update that into your initial post – including the permissions monitorix has on `/var/lib/monitorix`? Maybe you've missed some step during installation, and monitorix e.g. lacks write permission there). The path in your sc